/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/

// keep a max width in case it is just the form and nothing else
// we do not want a form spanning whole page
.wpcf7
{
    max-width: 600px;
    margin: 0 auto !important;
    // all inputs except radios and checkboxes inherit from form-control
    input[type=text],
    input[type=search],
    input[type=tel],
    input[type=number],
    input[type=range],
    input[type=date],
    input[type=month],
    input[type=week],
    input[type=time],
    input[type=datetime],
    input[type=datetime-local],
    input[type=color],
    input[type=email],
    input[type=file],
    input[type=submit],
    select,
    textarea
    {
        border-radius: 0;

        @extend .form-control;
        &.input-footer
        {
            display: inline-block;
            float: left;

            width: 87%;
            padding: 8px 12px;

            color: #969696;
            border-color: $primary-color;

            @include media('<=tablet')
            {
                width: 85%;
                min-height: 38px;
            }
            &:focus
            {
                color: #969696;
                border-color: $primary-color;
            }
        }
        &.input-form
        {
            margin-bottom: .75rem;
            padding: 0 1.5rem;

            transition: all .2s ease-in-out;

            border: 1px solid rgba(#d5d5d5,.5);
            border-radius: 0;
            background-color: rgba(#d5d5d5,.5);

            @extend .input-text;

            &:focus
            {
                border-color: $primary-color;
                outline: 0;
            }
        }
        &.input-select,
        &.input-textarea
        {
            -webkit-appearance: none;
            @extend .input-form;
        }

        &.input-select
        {
            padding-left: 1.4rem;
        }

        &.input-textarea
        {
            height: auto;
            min-height: 85px;
            max-height: 215px;
        }

        &.input-file
        {
            &:focus
            {
                border-color: $primary-color;
                outline: 0;
            }
        }
    }
    // submit button, inherit .btn and .btn-outline-primary classes.
    input[type=submit]
    {
      border-radius: 20px;

        &.submit-footer
        {
            font-size: 0;

            display:inline-block;
            float: right;
            width: 10%;
            padding: 18px;

            transition: all .2s ease-in-out;

            border-color: $black-text;
            border-radius: 0;
            background: $black-text url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.6' height='21' viewBox='0 0 12.6 21'%3E%3Cpath class='st0' d='M11.6 11.6L2.2 21 0 18.8l8.4-8.3L6.9 9 0 2.1 2.2 0l9.4 9.4 1 1.1z'/%3E%3C/svg%3E") no-repeat center center;
            background-size: 8px;
            &:disabled,
            &:focus,
            &:hover
            {
                border-color: $burn-yellow;
                outline: 0;
                background-color: $burn-yellow;
                background-size: 10px;
                box-shadow: none;
            }
        }
        &.submit-form
        {
            line-height: convertREM(14);

            display: block;
            position: relative;

            width: 230px;
            height: 46px;
            margin: 0 auto;

            color: #fff;
            border-color: $black-text;
            background: $black-text url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.6' height='21' viewBox='0 0 12.6 21'%3E%3Cpath style='fill:black;' d='M11.6 11.6L2.2 21 0 18.8l8.4-8.3L6.9 9 0 2.1 2.2 0l9.4 9.4 1 1.1z'/%3E%3C/svg%3E") no-repeat;
            background-position: 90% center;
            background-size: 8px;

            @extend .transition-2-ease-in-out;
            @extend .input-text;

            &:disabled,
            &:hover,
            &:focus
            {
                font-weight: $fw-bold;

                color: $black-text;
                border-color: $black-text;
                outline: 0;
                background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.6' height='21' viewBox='0 0 12.6 21'%3E%3Cpath style='fill:black;' d='M11.6 11.6L2.2 21 0 18.8l8.4-8.3L6.9 9 0 2.1 2.2 0l9.4 9.4 1 1.1z'/%3E%3C/svg%3E") no-repeat;
                background-position: 90% center;
                background-size: 8px;
                box-shadow: none;
            }
        }
    }
    .wpcf7-form
    {
        // set paragraphs to behave like divs with class .form-group
        p
        {
            margin-bottom: 0;

            @extend .form-group;
        }
        // let labels be 100%
        label
        {
            width: 100%;
        }
    }
    .wpcf7-response-output
    {
        display: none!important;

        text-align: center;

        @extend .input-text;
    }
    // not valid tip for each control
    .wpcf7-not-valid-tip
    {
        font-size: convertREM(12);
        line-height: convertREM(14);

        margin-bottom: .5rem;

        color: $brand-danger !important;

        @extend .input-text;
    }
    // validation errors ourput bottom of form
    .wpcf7-validation-errors
    {
        line-height: convertREM(16);

        color: $brand-danger !important;
        border: 1px solid $brand-danger !important;
        border-radius: 0;

        @extend .input-text;
        @extend .form-control;
    }
}

div.wpcf7 .ajax-loader
{
    display: none;
}
