// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700,900');

$Main-font-family: 'Heebo', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

@include font-face('Museo-300', fonts/new/Museo-300, null, null, otf);
@include font-face('Museo-500', fonts/new/Museo-500, null, null, otf);
@include font-face('Museo-700', fonts/new/Museo-700, null, null, otf);
@include font-face('Museo-900', fonts/new/Museo-700, null, null, otf);
