// =============================================================================
// Absolute center
// =============================================================================
@mixin absolute_center ($margin, $width, $height)
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: $width * 1px;
    height: $height * 1px;
    margin: $margin;
}

// =============================================================================
// Function to convert pixel to REM/EM
//
// @param $pixels (int) - Number to be converted
// @param $to (string) - REM or EM (default:rem)
// @param $context (int) - Number of the context (default: 16 , example: 16px with
// 16 of context it will be 1REM )
// =============================================================================
@function convertREM($pixels, $to: rem, $context: 16)
{
    @if (unitless($pixels))
    {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context))
    {
        $context: $context * 1px;
    }

    @return if($to == 'rem', $pixels / $context * 1rem , $pixels / $context * 1em) ;
}

// =============================================================================
// Function to calculate the aspect ratio
// @param $width (int)
// @param $height (int)
// =============================================================================
@function aspectRatio($width, $height)
{
    @return ($height / $width ) * 100%;
}

// =============================================================================
// Animation with cross broswing
// =============================================================================

@mixin animation ($name, $duration, $time-function, $delay, $iteration-count, $direction, $fill-mode, $play-state)
{
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
         -o-animation-name: $name;
            animation-name: $name;
    -webkit-animation-duration: $duration;
       -moz-animation-duration: $duration;
         -o-animation-duration: $duration;
            animation-duration: $duration;
    -webkit-animation-timing-function: $time-function;
       -moz-animation-timing-function: $time-function;
         -o-animation-timing-function: $time-function;
            animation-timing-function: $time-function;
    -webkit-animation-delay: $delay;
       -moz-animation-delay: $delay;
         -o-animation-delay: $delay;
            animation-delay: $delay;

    @if $iteration-count != null
    {
        -webkit-animation-iteration-count: $iteration-count;
           -moz-animation-iteration-count: $iteration-count;
             -o-animation-iteration-count: $iteration-count;
                animation-iteration-count: $iteration-count;
    }

    @if $direction != null
    {
        -webkit-animation-direction: $direction;
           -moz-animation-direction: $direction;
             -o-animation-direction: $direction;
                animation-direction: $direction;
    }

    @if $play-state != null
    {
        -webkit-animation-fill-mode: $fill-mode;
           -moz-animation-fill-mode: $fill-mode;
             -o-animation-fill-mode: $fill-mode;
                animation-fill-mode: $fill-mode;
    }

    @if $play-state != null
    {
        -webkit-animation-play-state: $play-state;
           -moz-animation-play-state: $play-state;
             -o-animation-play-state: $play-state;
                animation-play-state: $play-state;
    }
}

@mixin keyframe ($animation_name)
{
    @-webkit-keyframes #{$animation-name}
    {
        @content;
    }

    @-moz-keyframes #{$animation-name}
    {
        @content;
    }

    @-o-keyframes #{$animation-name}
    {
        @content;
    }

    @keyframes #{$animation-name}
    {
        @content;
    }
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: '')
{
    $index: str-index($string, $search);

    @if $index
    {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg)
{
    $src: null;
    $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_')
  );
    $formats: (
    otf: 'opentype',
    ttf: 'truetype'
  );

    @each $ext in $exts
    {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
    }

    @font-face
    {
        font-family: quote($name);
        font-weight: $weight;
        font-style: $style;

        src: $src;
    }
}
