// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$primary-color: #F2AE49; //yellow
$default-text-color: #000;
$secondary-text-color: #C9E8D6; //blue
$third-text-color: #c25a2f; //brown
$fourth-text-color: #bb2d78; //magenta
$input-text-color: #515151; //gray
$yellow-background: #ffca00; //yellow
$aqua-blue: #C9E8D6;
$black-text: #000100;
$burn-yellow: #F2AE49;
$dark-blue: #376C75;
