.error404
{
    @extend .page-template-blank-full-bg;

    h1
    {
        font-size: convertREM(80);
        line-height: convertREM(80);

        margin-bottom: 5rem;

        @extend .body-text-15;
        @include media('<=phone')
        {
            font-size: convertREM(50);
            line-height: convertREM(50);
        }
    }

    p
    {
        text-shadow: none!important;

        @extend .text-black;
        @include media('<=phone')
        {
            font-size: convertREM(14)!important;
            line-height: convertREM(16)!important;
        }
    }
}
