.page-template-oportunities:not(.wp-editor)
{
    @extend .page-template-center;
    @include media('<=ipad-landscape')
    {
        .list-wrapper
        {
            padding-bottom: 30px;
        }
    }

    .divider-primary-color
    {
        width: 125%;
        margin: 5px 0 0 -25%;
    }

    .hidden-md-up
    {
        .links-container-xs
        {
            a
            {
                font-weight: $fw-bold;

                color: $primary-color;
                border-right: 3px solid $primary-color;
                border-bottom: 3px solid $primary-color;
                border-left: 3px solid $primary-color;
                background-color: #fff;

                &:first-child
                {
                    border-top: 3px solid $primary-color;
                }
            }
        }
    }

    .block-1
    {
        .text-container
        {
            top: 100px;

            padding: 6.5rem 0;

            .secondary-font
            {
                @include media('<=ipad-landscape')
                {
                    font-size: convertREM(30);
                    line-height: convertREM(35);
                }
            }
        }

        .the_center_img
        {
            right: 68%;

            @include media('<=ipad-landscape')
            {
                top: -16px;
                right: 76%;

                max-width: 440px;
            }
        }

        .text-container-2
        {
            padding-bottom: 5rem;

            @include media('<=ipad-landscape')
            {
                padding-bottom: 3rem;
            }
            .text-container-2-second
            {
                max-width: 68%;
                padding-left: 12px;

                -webkit-box-flex: 0;
                -ms-flex: 0 0 68%;
                    flex: 0 0 68%;
                @include media('<=ipad-landscape')
                {
                    max-width: 74%;
                    padding-left: 12px;

                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 74%;
                        flex: 0 0 74%;
                }
                @include media('>l-desktop')
                {
                    padding-left: 3rem;
                }
                @include media('>xl-desktop')
                {
                    padding-left: 4.7rem;
                }
            }
        }

        .links-container
        {
            li
            {
                height: 130px;
            }
        }
    }
}
