.page-template-blank-form{
  background-image: url('../img/contactos.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  @include media('<tablet'){
    background-image: none;
  }
  .content-area{
    margin-top: 90px;
    @include media('<tablet'){
      margin-bottom: 50px;
      margin-top: 0;
    }
    .yellow-heading{
      @include media('<=tablet'){
        text-align: left;
      }
      @include media('<tablet'){
        text-align: center;
      }
      &:before{
        @include media('<=tablet'){
          text-align: left;
        }
        @include media('<tablet'){
          text-align: center;
        }
      }
    }
    .mb-5{
      font-size: 20px;
      font-family: 'Museo-500';
      @include media('<=tablet'){
        font-size: 14px;
      }
      @include media('<tablet'){
        text-align: center;
      }
    }
    .btn-yellow{
      @include media('<=tablet'){
        border: 2px solid #f2ae49;
        padding: 10px 12px;
        color: #000100;
        text-decoration: none;
        font-size: 9px;
        font-weight: 700;
        font-family: 'Museo-500', sans-serif;
        letter-spacing: 1px
      }
      @include media('<=ipad-landscape'){
        letter-spacing: 1px;
      }
      @include media('<tablet'){
        display: block;
        width: 53%;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 5px;
      }
    }

  }

  .form-wrapper{
    @include media('<tablet'){
      margin: 0 auto;
    }
    .form-contact{
      background-color: white;
      z-index: 9999;
      padding: 40px 100px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 50px;
      border: 1px solid $burn-yellow;
      @include media('<tablet'){
        margin-top: 0;
        position: relative;
        padding: 40px;
      }
      .form-title{
        color: $burn-yellow;
        font-family: 'Museo-900';
      }
      .divider-form{
        border-top: 3px solid $burn-yellow;
      }
    }
  }

  .wrapper-footer{
    position: relative;
    width: 100%;
    margin-top: 90px;
    @include media('<tablet'){
      position: relative;
      width: 100%;
      overflow-x: hidden;
    }

    .menu-item{
      @include media('<ipad-landscape'){
        display: block;
         margin-left: 0;
        width: 100%;
        margin-bottom: 10px;
        text-align: right;
      }
    }
  }
}
