.page-template-tourist-info:not(.wp-editor)
{
  .cls-1
  {
    fill: #1d1d1b;
  }
    background: #fff url(../img/tourist.jpg) no-repeat;
    background-position: center 96px;
    background-size: cover;

    @include media('<=ipad-landscape')
    {
        background-position: center 64px;
    }
    @include media('<=phone')
    {
        .full-wrapper
        {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .full-wrapper
    {
        padding: 30px 0 5px;
    }

    .divider
    {
        width: 30px;
        margin: 0 0 1rem;

        border-top: 5px solid $primary-color;
    }

    main
    {
        & > div:first-child
        {
            @extend .justify-content-md-center;

            & > div:first-child
            {
                background-color: rgba(#fff, .9);
            }
        }
    }

    .text-container
    {
        margin-top: 25px;
    }

    .info-text-icon
    {
        text-align: center;
        svg
        {
            max-width: 30px;
            height: 35px;
            path
            {
                fill: $primary-color;
            }
        }
    }

    .info-text-text
    {
        p
        {
            @extend .body-text-15;
        }
    }

    .text-container-float
    {
        position: relative;
        z-index: 25;
        top: 10px;
        left: -8.333335%;

        padding: 20px 30px 20px 30px;

        @extend .fullHeight;
        @extend .bg-white;
        @include media('<=phone')
        {
            position: relative;
            top: initial;
            left: initial;

            height: auto;
        }

        .info-text
        {
            height: calc(100% - 3.5rem - 37px);
            padding-right: 10px;

            @extend .custom-scroll;

            p
            {
                @extend .body-text-15;
            }

            &::-webkit-scrollbar-track
            {
                border-right: 7px solid #fff;
                border-left: 7px solid #fff;
            }

            &::-webkit-scrollbar-thumb
            {
                border-right: 0 solid #fff;
                border-left: 0 solid #fff;
            }

            svg
            {
                width: 205px;
            }
        }

        .flag
        {
            display: inline-block;

            width: 40px;
            height: 40px;
            margin-left: 3px;

            cursor: pointer;
            transform: scale(.8);

            border: 1px solid black;
            background: #fff;

            @extend .transition-2-ease-in-out;

            span
            {
                position: relative;

                display: block;
                overflow: hidden;

                width: 38px;
                height: 38px;

                border: 3px solid #fff;
            }

            &.active,
            &:hover,
            &:focus
            {
                transform: scale(1);
            }

            svg
            {
                width: 50px;

                @extend .translate-center;
            }
        }
    }
}
