.page-template-slot
{
  overflow-x: hidden;
  background: url(../img/horarios.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .site-main{
    padding: 30px;
    border: 2px solid $burn-yellow;
    background-color: rgba(255, 255, 255, .9);
    max-width: 80%;
    margin: 20px auto;
    padding: 60px;
    @include media('<tablet'){
      max-width: 100%;
      padding: 0;
    }
    .schedule-container{
      h2{
        font-family: 'Museo-900', sans-serif;
        font-size: convertREM(25px);
        color: $burn-yellow;
        @include media('<tablet'){
          text-align: center;
        }
        &:before{
          background-color: $burn-yellow;
          content: "";
          width: 40px;
          height: 3.5px;
          display: block;
          margin-bottom: 20px;
          @include media('<tablet'){
            margin: 10px auto 20px auto;
          }
        }
      }
      .main-desc{
        .description p, .description_2 p{
            font-family: 'Museo-500', sans-serif;
            font-size: convertREM(20);
            font-weight: 500;
            color: black;
            @include media('<tablet'){
              text-align: center;
            }
        }
      }
    }
  }
  .wrapper-footer{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    @include media('>ipad-landscape'){
      bottom: 0;
      position: absolute;
      width: 100%;
    }
    .menu-item{
      @include media('<ipad-landscape'){
        display: block;
         margin-left: 0;
        width: 100%;
        margin-bottom: 10px;
        text-align: right;
      }
    }
  }
}
