.page-template-jobs:not(.wp-editor)
{
    overflow-x: hidden;
    .list-wrapper
    {
        padding: 3rem 0;

        @include media('>ipad-landscape')
        {
            //padding: 10rem 0 0 0;
        }
    }

    .jobs-gallery
    {
        .owl-stage-outer
        {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    .btn-default
    {
        @include media('<=desktop')
        {
            display: block;

            width: 100%;
            min-width: 0;
        }
    }

    div[data-view-container='jobs'],
    div[data-view-container='form']
    {
        @include media('<=phone')
        {
            margin-top: 3rem;
        }
    }

    div[data-view-container='form']
    {
        display: none;
    }

    .item
    {
        padding-bottom: 17px; //button fix
    }
}
