.home-header
{
    background-color: #efefef;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    video
    {
        width: 100%;
        height: auto;
    }

    a
    {
        display: block;

        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-position: center;

        img
        {
            visibility: hidden;
        }
    }
}

.home-wrapper
{
    padding: 10rem 0 0;

    @include media('<=tablet')
    {
        padding: 5rem 0 0;
    }
    @include media('<=tablet')
    {
        .item-type-0,
        .item-type-1,
        .item-type-2,
        .item-type-3
        {
            padding-top: 0;
        }
    }
    > div > div
    {
        padding: 0 16px 2rem;

        @include media('>l-desktop')
        {
            padding: 0 10rem 2rem;
        }
        @include media('>desktop')
        {
            padding: 0 3rem 2rem;
        }
    }
    .site-main > .row
    {
        @include media('>ipad-landscape')
        {
            //min-height: 85vh;
            margin-top: -8%;
        }
    }

    .item-type-0
    {
        padding-top: 6rem;
    }

    .item-type-1
    {
        padding-top: 1rem;
    }

    .item-type-2
    {
        padding-top: 8.5rem;
    }

    .item-type-3
    {
        padding-top: 3.5rem;
    }

  .see-more{
    &:hover{
      text-decoration: none;

    }
    .arrow-down{
      max-width: 40%;
      fill: black;
      text-align: center;
      display: block;
      margin: -20px auto 0;
      svg{
        fill:black;
        width: 30px;
      }
    }
  }
  .item-highlight-content .item-highligth-content-footer .st0, .item-suggestions-content .item-highligth-content-footer .st0 {
    fill: white;
  }

  .site-footer{
      .menu-item {
        @include media ('<=tablet'){
          margin-left: 0;
        }
      }
  }

}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

.bounce{
  display: block;
  width: 50px;
  cursor: pointer;
  background-color: #ffca00;
  height: 50px;
  position: relative;
  margin: -30px auto;
  border-radius: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.8 11.7'%3E%3Cpath fill='%23fff' d='M4.9 0v6.5'/%3E%3Cpath fill='%23fff' d='M4.4 11.3L0 6.9l1-1 3.9 3.9.7-.7 3.2-3.2 1 1-4.4 4.4-.5.4z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  animation: bounce 2s infinite;
  background-size: 20px;
}
