.page-template-blank-full-bg:not(.wp-editor)
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 96px;
    background-size: cover;

    @include media('>phone')
    {
        overflow-y: hidden;
    }
    @include media('<=ipad-landscape')
    {
        background-position: center 64px;
    }

    .full-wrapper-xs
    {
        height: 1px;

        @include media('<=xs-phone')
        {
            padding: 0;
        }
        @include media('>xs-phone','<=phone')
        {
            min-height: 60vh;
        }
    }

    .the-content
    {
        height: 26%;
        //min-height: 300px;

        @extend .absolute-center;
        @include media('<=xs-phone')
        {
            height: 60%;
        }
    }

    p
    {
        margin-bottom: 0;

        color: #fff;
        text-shadow: 8px 8px 14px rgba(0, 0, 0, .4);

        @extend .body-text-30;
    }
    .site-main
    {
        width: 100%;

        @include media('<=phone')
        {
            width: 75%;
        }
    }

    .btn-round
    {
        padding: 15px 70px;
    }
    .wrapper-footer{
      position: relative;
      width: 100%;
      overflow-x: hidden;
      @include media('>tablet'){
        bottom: 0;
        position: absolute;
        width: 100%;
      }
      .menu-item{
        @include media('<ipad-landscape'){
          display: block;
           margin-left: 0;
          width: 100%;
          margin-bottom: 10px;
          text-align: right;
        }
      }
    }
}
