.page-template-brand-kit
{
    background-color: $yellow-background;

    .divider
    {
      width: 30px;
      margin: 0 0 1rem;
      border-top: 5px solid #FFFFFF;
    }
    h2
    {
      font-family: 'Museo-900', sans-serif;
      text-transform: uppercase;
    }
    p, a.text-uppercase
    {
      font-family: 'Museo-500', sans-serif;
    }
    .footer-white-links .site-footer-links .menu-item a
    {
      color: black;
    }
    // .wrapper-footer
    // {
    //   bottom: 0;
    //   position: absolute;
    //   width: 100%;
    // }
}
