.page-template-blank-scroll-container
{
    .content-area
    {
        position: relative;
    }
    .line
    {
        z-index: 20;

        width: 80%;
        height: 80%;

        border: 2px solid $primary-color;
        background-color: transparent;
    }
    .site-main
    {
        position: relative;
        z-index: 25;

        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 3rem 1rem;

        @extend .bg-white;
        @include media('>tablet')
        {
            width: 70%;
        }

        .content
        {
            padding: 0 4rem;

            p
            {
                margin-bottom: 0;
            }

            &.custom-scroll::-webkit-scrollbar-thumb
            {
                border-right: 0 solid #fff;
                border-left: 0 solid #fff;
            }
            &.custom-scroll::-webkit-scrollbar-track
            {
                border-right: 7px solid #fff;
                border-left: 7px solid #fff;
            }
        }
    }
}
