.page-template-center
{
    .single-wrapper
    {
        padding-right: 3rem;
        padding-left: 3rem;

        @include media('<=tablet')
        {
            padding: 0!important;
        }
    }

    .hidden-md-up
    {
        padding-right: 0;
        padding-left: 0;

        .the_center_img
        {
            padding-top: 100%;

            img
            {
                position: absolute;
                z-index: 20;
                top: 0;

                max-width: 80%;
            }
        }

        .text-container
        {
            margin-top: -30%;
            padding: 35% 30px 20px 30px;

            border-top: 10px solid $yellow-background;

            @extend .bg-default-text-color;

            span.secondary-font
            {
                font-size: convertREM(100);
                line-height: convertREM(85);

                position: absolute;
                z-index: 25;
                top: -10px;
                left: 30px;

                @include media('>xs-phone')
                {
                    font-size: convertREM(125);
                    line-height: convertREM(90);
                }
            }
        }

        .divider
        {
            width: 30%;
            margin: 2rem 0 2rem -16px;

            border-top: 2px solid #fff;
        }

        .links-container-xs
        {
            a
            {
                font-size: 20px;
                font-weight: $fw-light;
                line-height: 70px;
                font-family: 'Museo-500', sans-serif;
                position: relative;

                display: block;

                height: 70px;
                padding-left: 15px;

                letter-spacing: 1px;
                text-transform: uppercase;

                color: #fff;
                border-bottom: 4px solid #fff;
                background-color: $aqua-blue;

                &:focus
                {
                    text-decoration: none;
                }

                svg
                {
                    right: 15px;

                    @extend .translateY;

                    path
                    {
                        fill: #fff;
                    }
                }
            }
        }
    }


    .block-1
    {
        position: relative;

        padding-bottom: 1rem!important;
        @extend .bg-white;
        @include media('>desktop')
        {
            margin-top: 2rem;
        }
        @include media('>xl-desktop')
        {
            margin-top: 5rem;
        }


        .the_center_img
        {
            position: absolute;
            top: -35px;
            right: 82%;

            max-width: 385px;

            @include media('>ipad-landscape')
            {
                top: -35px;
                right: 75%;

                max-width: 450px;
            }
            @include media('>l-desktop')
            {
                top: -10%;

                max-width: 530px;
            }
            @include media('>xl-desktop')
            {
                top: -17%;

                max-width: 600px;
            }
        }

        .text-container
        {
            display: block;
            float: right;
            margin-right: 220px;
            padding-top: 5rem;
            height: 350px;
            width: 100%;
            padding-left: 52%;
            background-color: #ebebeb;
            @extend .center-border-top;
            @include media('>xl-desktop')
            {
                width: 59%;
                padding: 6.5rem 4rem;
            }
            p
            {
                font-size: convertREM(33);
                font-weight: $fw-black;
                line-height: convertREM(50);
                margin-bottom: 0;
                font-family: 'Museo-700', sans-serif;
                color: $black-text;
                @include media('<=l-desktop'){
                  font-size: 22px;
                  margin-left: 30px;
                }
            }
        }

        .text-container-2
        {
            position: relative;
            z-index: 25;

            width: 100%;
            padding: 4rem 0;

            background-color: rgba($yellow-background,.95);

            @include media('>desktop')
            {
                padding: 3.5rem 0;
            }
            @include media('>l-desktop')
            {
                padding: 4.5rem 0;;
            }

            b
            {
                line-height: convertREM(30);
            }


            p
            {
                max-width: 77%;
                font-family: 'Museo-500', sans-serif;
                margin-left: auto;
                padding-right: 40px;
                padding-left: 0;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 60%;
                    flex: 0 0 60%;
                @include media('>l-desktop')
                {
                    padding-left: 2rem;
                }
                @include media('>xl-desktop')
                {
                    padding-left: 4.5rem;
                }
            }

            .divider
            {
              max-width: 77%;
              margin-left: auto;
              padding-right: 40px;
              padding-left: 0;
              @include media('>=l-desktop'){
                max-width: 74%;
              }
              @include media('>=xl-desktop'){
                max-width: 72%;
              }
              svg{
                width: 60px;
              }
            }
        }

        .links-container
        {
            width: 220px;

            ul
            {
                margin-top: -15px;
                padding-left: 0;

                list-style: none;
            }

            li
            {
                position: relative;

                height: 90px;

                border-bottom: 15px solid #fff;
                border-left: 15px solid #fff;
                background-color: $aqua-blue;
                color: white;
                @include media('>l-desktop')
                {
                    height: 100px;
                }


                a
                {
                    line-height: 80px;
                    font-family: 'Museo-500', sans-serif;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 85px;
                    padding: 19px 0 0 15px;
                    letter-spacing: 1px;

                    color: #fff;

                    @extend .transition-2-ease-in-out;
                    @extend .border-1-primary-color;
                    @extend .body-text-20;
                    // @include media('>l-desktop')
                    // {
                    //     line-height: 100px;
                    // }

                    svg
                    {
                        position: absolute;
                        top: 29px;
                        right: 20px;

                        width: 10px;

                        transition: fill .2s ease-in-out;
                        path
                        {
                            fill: #fff;
                        }
                    }

                    &:hover,
                    &:focus
                    {
                        text-decoration: none;

                        color: $aqua-blue;
                        outline: 0;

                        @extend .bg-white;

                        svg path
                        {
                            fill: $aqua-blue;
                        }
                    }
                }
            }
        }
    }
    .tribal-bg
    {
      position: relative;
      top: -298px;
      z-index: 99;
      left: -231px;
      width: 260px;
      @include media('>xl-desktop')
      {
          top: -177px;
      }
      @include media('<=ipad-landscape')
      {
            top: -408px;
      }
    }
}
