.page-template-services
{
    background: url(../img/services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    @include media('<=tablet')
    {
      background-position: -286px -417px;
      background-size: unset;
    }
    @include media('<=phone')
    {
      background-position: 0;
      background-size: cover;
    }
    .content-area
    {
      padding: 100px 200px;
      @include media('<=tablet')
      {
        padding: 0;
      }
    }
    article.item-service
    {
      // height: 300px;
      // max-height: none;
      border: 3px solid $burn-yellow;
    }

    .wrapper-footer{
      position: relative;
      width: 100%;
      //margin-top: -50px;
      @include media('<tablet'){
        position: relative;
        width: 100%;
        overflow-x: hidden;
      }

      .menu-item{
        @include media('<ipad-landscape'){
          display: block;
           margin-left: 0;
          width: 100%;
          margin-bottom: 10px;
          text-align: right;
        }
      }
    }
}
