.page-template-blog
{
  .title-bg
  {
    h1
    {
      letter-spacing: 3px;
      background-image: url(../img/title.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 200px;
      height: 96px;
      position: relative;
      line-height: 95px;
      font-size: convertREM(52);
      color: white;
      text-align: center;
      margin-left: -50px;
      font-family: 'Museo-900', sans-serif;
      @include media('<=tablet'){
        margin: 0 auto;
      }
    }
    .body-desc{
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 30px;
      font-family: 'Museo-900', sans-serif;
      left: -22px;
      position: relative;
      @include media('<=tablet'){
        text-align: center;
        left: 0;
      }
      @include media('>=xl-desktop'){
        left: 65px;
        font-size: 19px;
      }
    }
    a{
      color: black;
      transition: all ease-in-out .2s;
      &:hover{
        color: $burn-yellow;
        text-decoration: none;
      }
    }
  }
  .blog-content
  {
    margin-left: 75px;
    margin-top: 51px;
    @include media('<=tablet'){
      margin-left: 0;
      text-align: center;
    }
    .divider
    {
      max-width: 77%;
      padding-right: 40px;
      padding-left: 0;
      margin-bottom: 15px;
      @include media('<tablet'){
        margin-left: 55px;
      }
      @include media('>=l-desktop'){
        max-width: 74%;
      }
      @include media('>=xl-desktop'){
        max-width: 72%;
      }
      svg
      {
        width: 60px;
        fill: $yellow-background;
      }
    }
  }

.site-footer{
    .menu-item {
      @include media ('<=tablet'){
        margin-left: 0;
      }
    }
}

.profile_pic{
  position: absolute;
    left: 0;
    width: 40px;
    top: -5px;
    border-radius: 20px;
    border: 1px solid black;
}

.profileName{
  display: inline-block;
  float: left;
  position: relative;
  left: 55px;
  font-size: 12px;
  top: -5px;
}

}
