.post-type-archive-suggestions
{
    @extend .post-type-archive-highligth;
}


.title-container
{
    margin-left: 47%;

    @include media('<=tablet')
    {
        margin-bottom: 50px;
        margin-left: 0;
    }
    @include media('>xl-desktop')
    {
        margin-left: 52%;
    }

    .article-title
    {
        max-width: 260px;
        padding: 20px;

        text-align: left;

        border-top: 1px solid #000;
        border-right: 1px solid #000;

        @include media('<=tablet')
        {
            max-width: none;

            text-align: center;
        }
        @include media('>tablet','landscape')
        {
            max-width: 220px;
        }
        @include media('>l-desktop')
        {
            max-width: 240px;
        }
        @include media('>xl-desktop')
        {
            max-width: 280px;
        }
    }
}
