.post-type-archive-highligth
{
    #loadmore-container
    {
        @include media('<=phone')
        {
            margin: 20px 0;
        }
    }
    #page{
      @extend .box-gradient-blue;
    }
    .item-highlight
    {
        max-width: 280px!important;
        &:hover
        {
          .item-highlight-content
          {
            @extend .transition-2-ease-in-out;
            background-color: white;
            cursor: pointer;
            background-color: $yellow-background;
              .article-title, .article-date
              {
                  color: white;
              }
          }

        }

        .article-title, .article-date
        {
            color: $aqua-blue;
        }

        &.__wide
        {
            max-width: 100%;
        }

        &.__on-hover
        {
            .item-highlight-header
            {
                img
                {
                  @extend .box-shadow-hover-highlights;
                }
            }
        }
        .item-highlight-content
        {
          @extend .transition-2-ease-in-out;
          background-color: white;
          cursor: pointer;
          &:hover{
            background-color: $yellow-background;
            .article-title, .article-date
            {
                color: white;
            }
          }
        }
        .article-title, .article-date
        {
            color: $aqua-blue;
        }
    }

    .item-highlight-header
    {
      img
      {
        @extend .box-shadow-regular-highlights;
      }
    }
}
