.post-type-archive-reasons
{
    .list-wrapper
    {
        #loadmore-container
        {
            margin-top: -100px;
            margin-bottom: 150px;
        }

        .filter-container
        {
            position: relative;

            .loading-square
            {
                position: absolute;
                top: 54px;
                right: 10px;

                display: none;

                margin: auto;

                @extend .bg-transparent;
            }
        }
    }
}


.grid-masonry
{
    margin: 0 auto 110px;
}

.grid-sizer,
.grid-masonry-item
{
    width: 100%;

    @include media('>xs-phone')
    {
        width: calc(50% - 20px);
    }
    @include media('>ipad-landscape')
    {
        width: calc(25% - 20px);
    }
}
