.post-type-archive-stores:not(.wp-editor)
{
    overflow-x: hidden;
    background-color: $yellow-background;
    @include media('>phone','<=ipad-landscape')
    {
        .full-wrapper
        {
            min-height: 78.5vh;
        }
    }
    @include media('>ipad-landscape')
    {
        .full-wrapper
        {
            min-height: 81vh;
        }
    }
    @include media('<=phone')
    {
        .full-wrapper
        {
            padding-bottom: 0;
        }
    }

    main
    {
        & > .row > div:first-child
        {
            margin-bottom: 5rem;
        }
    }

    #main
    {
        display: none;
    }

    .custom-scroll
    {
        &::-webkit-scrollbar-thumb
        {
            border-right: 0 solid #f7f7f7!important;
            border-left: 0 solid #f7f7f7!important;
        }
        &::-webkit-scrollbar-track
        {
            border-right: 7px solid #f7f7f7!important;
            border-left: 7px solid #f7f7f7!important;
        }
    }

    .btn-default
    {
        max-width: 100%;
        margin-bottom: 2.5rem;
    }
    .btn-default,
    .input-search,
    .filter-term
    {
        min-width: initial;
        width: 190px;
    }
    .loading-square
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 73%;

        display: none;

        margin: auto 0;

        @extend .bg-white;
        @include media('>tablet')
        {
            background-color: transparent;
        }
    }

    #loadmore-container
    {
        display: none;

        margin-top: 20px;
    }

    #livesearch-container
    {
        position: absolute;
        top: 40px;

        width: 100%;

        @include media('>tablet')
        {
            top: 52px;
        }
    }
    .filter-term
    {
        display: none;
    }

    div[data-view-container='directory']
    {
        display: none;
    }

    .store-no-results
    {
        margin-top: 2rem;
        margin-bottom: 0;
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .blank
    {
        @include media('<=tablet')
        {
            display: none;
        }
    }

    .page-title
    {
      margin-top: 10rem;
      h2
      {
          color: white;
          line-height: 35px;
          font-family: 'Museo-900', sans-serif;
          font-size: convertREM(25);
          letter-spacing: 4px;
          &:before
          {
            position: relative;
            background-color: #fff;
            content: " ";
            width: 30px;
            height: 5px;
            display: block;
            top: -20px;
          }
      }
    }
    .mapplic-tooltip-title{
      font-family: 'Museo-900', sans-serif;
    }
    .mapplic-clickable:not(g), g.mapplic-clickable > * > *
    {
      opacity: 1!important;
      &:hover
      {
        opacity: 1!important;
        fill: none!important;
      }
    }
}
