.single-highligth
{
  background-color: $aqua-blue;
    .article-title
    {
        margin-bottom: 10px;
        font-size: 45px;
        margin-top: 50px;
        font-family: 'Museo-900', sans-serif;
        &:after{
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68.61 16.5'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffcb00;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset-5%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='68.61 0 35.61 0 52.11 16.5 68.61 0'/%3E%3Cpolygon class='cls-1' points='33 0 0 0 16.5 16.5 33 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 60px;
          /* height: 10px; */
          display: block;
        }
    }
    .body-desc{
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 30px;
      font-family: 'Museo-900', sans-serif;
    }
    .body-text-20{
      font-family: 'Museo-500', sans-serif;
    }

    .next_post
    {
        position: relative;
        z-index: 25;
        height: 25px;
        padding: 0 15px;

        @include media('<=phone')
        {
            position: relative;

            width: 110px;
            height: 42px;
            margin: 25px auto 0;
        }

        a[rel='prev']
        {
            display: inline-block;

            vertical-align: middle;

            @extend .btn-default;
            @extend .text-white;
        }
    }


  .single-highligth-gallery
  {
      max-width: 900px;
      padding: 0 .5rem 0 0;
      //
      // @include media('>l-desktop')
      // {
      //     padding: 0 10rem;
      // }
      // @include media('>1600px')
      // {
      //     padding: 0 8rem;
      // }
      .owl-theme{
        padding: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 737.43 712'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffcb00;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset-2%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='15.17 353.07 15.17 321.87 0 337.47 15.17 353.07'/%3E%3Cpolygon class='cls-1' points='15.17 320.92 15.17 289.72 0 305.32 15.17 320.92'/%3E%3Cpolygon class='cls-1' points='15.17 288.39 15.17 257.19 0 272.79 15.17 288.39'/%3E%3Cpolygon class='cls-1' points='15.17 256.24 15.17 225.04 0 240.64 15.17 256.24'/%3E%3Cpolygon class='cls-1' points='15.17 223.7 15.17 192.5 0 208.1 15.17 223.7'/%3E%3Cpolygon class='cls-1' points='15.17 191.55 15.17 160.35 0 175.95 15.17 191.55'/%3E%3Cpolygon class='cls-1' points='15.17 159.36 15.17 129.57 0.68 144.47 15.17 159.36'/%3E%3Cpolygon class='cls-1' points='15.17 127.21 15.17 97.42 0.68 112.32 15.17 127.21'/%3E%3Cpolygon class='cls-1' points='15.51 614.58 15.51 583.38 0.34 598.98 15.51 614.58'/%3E%3Cpolygon class='cls-1' points='15.51 582.43 15.51 551.23 0.34 566.83 15.51 582.43'/%3E%3Cpolygon class='cls-1' points='15.51 549.9 15.51 518.71 0.34 534.3 15.51 549.9'/%3E%3Cpolygon class='cls-1' points='15.51 517.75 15.51 486.56 0.34 502.15 15.51 517.75'/%3E%3Cpolygon class='cls-1' points='15.51 485.21 15.51 454.01 0.34 469.61 15.51 485.21'/%3E%3Cpolygon class='cls-1' points='15.51 453.06 15.51 421.86 0.34 437.46 15.51 453.06'/%3E%3Cpolygon class='cls-1' points='15.51 420.88 15.51 391.08 1.03 405.98 15.51 420.88'/%3E%3Cpolygon class='cls-1' points='15.51 388.73 15.51 358.93 1.03 373.83 15.51 388.73'/%3E%3Cpath class='cls-1' d='M25.43,0V712h712V0Zm687,687h-662V25h662Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        .item{
          position: relative;
          left: 3.5%;
          max-width: 97%;
        }
      }
      @include media('>phone','<=ipad-landscape'){
        margin: auto;
        position: relative;
        top: 20%;
      }
  }
  .wrapper-footer{
    @include media('>ipad-landscape'){
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }
  .next_highlight{
    align-self: center;
    color: black;
    letter-spacing: 4px;
    text-transform: uppercase;
    a{
      transition: all ease-in-out .3s;
      color: #000000;
      font-size: 15px;
      font-family: 'Museo-500', sans-serif;
      &:hover{
        color: $burn-yellow;
        text-decoration: none;
      }
    }
    &:after{
      content: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='12.6px' height='21px' viewBox='0 0 12.6 21' style='enable-background:new 0 0 12.6 21;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2300000;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpolygon class='st0' points='11.6,11.6 2.2,21 0,18.8 8.4,10.5 8.4,10.5 6.9,9 6.9,9 0,2.1 2.2,0 11.6,9.4 12.6,10.5 '/%3E%3C/svg%3E");
      position: relative;
      top: 4px;
    }
    @include media('>=tablet'){
       margin: 20px auto;
    }
    @include media('<=tablet'){
      margin: 0 auto;
    }
  }
  .previous_highlight{
    align-self: center;
    color: black;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: absolute;
    right: 110px;
    top: 54%;
    @include media('<xl-desktop'){
      right: 72px;
    }
    @include media('<desktop'){
      right: 55px;
    }
    @include media('<=tablet'){
      margin: 0 auto;
      position: relative;
      top: 100%;
      right: 0;
    }
    a{
      transition: all ease-in-out .3s;
      color: #000000;
      font-size: 15px;
      font-family: 'Museo-500', sans-serif;
      &:hover{
        color: $burn-yellow;
        text-decoration: none;
      }
    }
    &:before{
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.6' height='21' transform='rotate%28180%29' viewBox='0 0 12.6 21'%3E%3Cpath class='st0' d='M11.6 11.6L2.2 21 0 18.8l8.4-8.3L6.9 9 0 2.1 2.2 0l9.4 9.4 1 1.1z'/%3E%3C/svg%3E");
      position: relative;
      top: 4px;
    }
    @include media('>=tablet'){
       margin: 20px auto;
    }
  }

  .owl-theme .owl-dots{
    top: 20px;
    display:block!important;
    position: relative;
    .active{
      span{
          background: #ffcb00;

      }
    }
  }
}
