.page-template-custom-page
{
  background: url(../img/custom.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .custom-content
  {
    border: 2px solid $yellow-background;
    padding: 60px;
    background-color: rgba(255, 255, 255, .8);
    max-width: 80%;
    margin: 40px auto 0 auto;
    h1
    {
      font-size: convertREM(25);
      letter-spacing: 2px;
      font-family: 'Museo-900', sans-serif;
      text-align: center;
      color: $burn-yellow;
      margin-bottom: 60px;
      &:after
      {
        position: absolute;
        background-color: $burn-yellow;
        content: " ";
        width: 100px;
        height: 4px;
        margin-top: 50px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
    p
    {
      font-size: convertREM(14);
      font-family: 'Museo-500', sans-serif;
      font-weight: 500;
      strong
      {
        &:before{
          content: url(../svg/yellow-triangle.svg);
          width: 96px;
          fill: $burn-yellow;
          left: 50%;
          max-width: 50px;
          display: block;
          margin-bottom: 2px;
        }
      }
    }
  }
  .site-footer{
      .menu-item {
        @include media ('<=tablet'){
          margin-left: 0;
        }
      }
  }
}
