.btn-default
{
    font-weight: $fw-regular;

    position: relative;

    display: inline-block;

    max-width: 250px;
    padding: 15px;

    text-align: center;

    @extend .bg-primary-color;
    @extend .transition-2-ease-in-out;
    @include media('<=tablet')
    {
        display: block;
    }
    @include media('>tablet','<=ipad-landscape')
    {
        padding: 15px 5px;
    }
    @extend .cta-text;
    @extend .text-white;
    @extend .border-1-primary-color;

    &.__secondary-text-color
    {
        @extend .bg-secondary-text-color;
        @extend .border-1-secondary-text-color;

        &:after
        {
            @extend .border-1-secondary-text-color;
        }

        &:hover
        {
            @extend .bg-white;
            @extend .secondary-text-color;
        }
    }

    &:after
    {
        position: absolute;
        z-index: -1;
        top: -6px;
        left: -6px;

        display: block;

        width: 100%;
        height: 100%;

        content: '';

        opacity: 1;

        @extend .transition-2-ease-in-out;
        @extend .border-1-primary-color;
    }
    &:focus
    {
        text-decoration: none;

        outline: none;
    }
    &:hover
    {
        font-weight: $fw-bold;

        cursor: pointer;
        text-decoration: none;

        @extend .bg-white;
        @extend .primary-color;

        &:after
        {
            // width: calc(100% + 10px);
            // height: calc(100% + 10px);
            opacity: 0;
        }
    }
}

.btn-arrow
{
    position: relative;

    display: inline-block;

    width: 40px;
    height: 40px;

    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #f4f4f4;
    background-clip: padding-box;

    @include media('>phone')
    {
        width: 25px;
        height: 25px;
    }

    &:hover
    {
        &:after
        {
            transform: scale(1.2);
        }
    }

    &:after
    {
        position: absolute;
        z-index: -1;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;

        content: '';

        border-radius: 50%;
        background: -webkit-linear-gradient(0deg, rgba(32, 113, 183, 1) 0%, rgba(30, 118, 184, 1) 2.52%, rgba(5, 173, 192, 1) 34.02%, rgba(21, 172, 152, 1) 43.7%, rgba(50, 170, 82, 1) 61.66%, rgba(61, 169, 54, 1) 70.04%, rgba(24, 126, 51, 1) 87.87%, rgba(4, 102, 50, 1) 99.47%);
        background: -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(32, 113, 183, 1) ),color-stop(.0252,rgba(30, 118, 184, 1) ),color-stop(.3402,rgba(5, 173, 192, 1) ),color-stop(.437,rgba(21, 172, 152, 1) ),color-stop(.6166,rgba(50, 170, 82, 1) ),color-stop(.7004,rgba(61, 169, 54, 1) ),color-stop(.8787,rgba(24, 126, 51, 1) ),color-stop(.9947,rgba(4, 102, 50, 1) ));
        background:    -moz-linear-gradient(0% 50% 0deg,rgba(32, 113, 183, 1) 0%,rgba(30, 118, 184, 1) 2.52%,rgba(5, 173, 192, 1) 34.02%,rgba(21, 172, 152, 1) 43.7%,rgba(50, 170, 82, 1) 61.66%,rgba(61, 169, 54, 1) 70.04%,rgba(24, 126, 51, 1) 87.87%,rgba(4, 102, 50, 1) 99.47%);
        background:      -o-linear-gradient(0deg, rgba(32, 113, 183, 1) 0%, rgba(30, 118, 184, 1) 2.52%, rgba(5, 173, 192, 1) 34.02%, rgba(21, 172, 152, 1) 43.7%, rgba(50, 170, 82, 1) 61.66%, rgba(61, 169, 54, 1) 70.04%, rgba(24, 126, 51, 1) 87.87%, rgba(4, 102, 50, 1) 99.47%);
        background:         linear-gradient(90deg, rgba(32, 113, 183, 1) 0%, rgba(30, 118, 184, 1) 2.52%, rgba(5, 173, 192, 1) 34.02%, rgba(21, 172, 152, 1) 43.7%, rgba(50, 170, 82, 1) 61.66%, rgba(61, 169, 54, 1) 70.04%, rgba(24, 126, 51, 1) 87.87%, rgba(4, 102, 50, 1) 99.47%);

        @extend .transition-2-ease-in-out;
    }

    svg
    {
        width: 14px;

        @extend .absolute-center;
        @include media('>phone')
        {
            width: 7px;
        }
        path
        {
            @extend .fill-black;
        }
    }

    &.__down
    {
        svg
        {
            transform: rotate(90deg);
        }
    }
}

.btn-round
{
    font-size: 12px;
    font-weight: $fw-light;

    text-align: center;

    color: #000;
    border-radius: 50px;

    @extend .transition-2-ease-in-out;
    @extend .bg-white;

    &:hover
    {
        text-decoration: none;
    }

    &.__bg-white-arrow
    {
        color: #000;
        background: #fff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMi42IiBoZWlnaHQ9IjIxIiB2aWV3Qm94PSIwIDAgMTIuNiAyMSI+PHN0eWxlPi5zdDB7ZmlsbDojMDAwfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTExLjYgMTEuNkwyLjIgMjEgMCAxOC44bDguNC04LjNMNi45IDkgMCAyLjEgMi4yIDBsOS40IDkuNCAxIDEuMXoiPjwvcGF0aD48L3N2Zz4=') no-repeat right 16px center;
        background-size: 8px;

        &:hover
        {
            background-color: $primary-color;
        }
    }

    &.__bg-primary
    {
        color: #fff;

        @extend .border-1-primary-color;
        @extend .bg-primary-color;
        &:hover
        {
            color: $primary-color;

            @extend .bg-white;
        }
    }
}

.btn-download
{
    position: relative;

    display: inline-block;

    max-width: 250px;
    padding: 15px;

    text-align: center;

    @extend .bg-transparent;
    @extend .border-1-primary-color;
    @extend .text-white;
    @extend .transition-2-ease-in-out;

    &:hover
    {
        text-decoration: none;

        @extend .bg-primary-color;
    }

    svg
    {
        width: 15px;
        margin-right: 10px;

        vertical-align: middle;
        path
        {
            @extend .fill-white;
        }
    }
}

.btn-load-more
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;

    cursor: pointer;

    border: 0;
    background-color: transparent;

    &:hover
    {
        &:before,
        &:after
        {
            border-right-color: $yellow-background;
            border-bottom-color: $yellow-background;
        }
    }

    &:before,
    &:after
    {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        width: 30px; height: 30px;
        margin-top: -15px;

        content: '';
        transition: all .4s ease-in-out;
        transform: translate(-50%, -50%) rotate(45deg);

        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        border-right-color: $default-text-color;
        border-bottom-color: $default-text-color;
        border-radius: 0 0 5px 0;
    }

    &.active
    {
        &:before,
        &:after
        {
            border-right-color: $burn-yellow;
            border-bottom-color: $burn-yellow;
            border-radius: 50%;
        }
        &:before
        {
            animation: .8s rotate .4s linear forwards infinite;
        }
        &:after
        {
            width: 38px;
            height: 38px;

            animation: .8s rotate2 .4s linear forwards infinite;
        }
    }


    &.disabled
    {
        &:before,
        &:after
        {
            margin-top: 0;

            transform: translate(-50%, -50%) rotate(135deg) rotateY(180deg);
        }
    }

    &:focus
    {
        outline: 0;
    }
}


@keyframes rotate
{
    to
    {
        transform: translate(-50%, -50%) rotate(405deg);
    }
}
@keyframes rotate2
{
    to
    {
        transform: translate(-50%, -50%) rotate(-315deg);
    }
}

.btn-yellow{
  border: 2px solid $burn-yellow;
  padding: 10px 20px;
  color: $black-text;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Museo-500';
  letter-spacing: 5px;
  &:hover{
    color: $burn-yellow;
  }
}

.btn-aqua-blue{
  background-color: $aqua-blue;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  width: 190px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Museo-500';
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid $aqua-blue;
  &:hover{
    color: $aqua-blue;
    border: 2px solid $aqua-blue;
    background-color: white;
  }
}
