.bg-transparent
{
    background-color: transparent;
}

.bg-white
{
    background-color: #fff;
}

.bg-black
{
    background-color: #000;
}

.bg-primary-color
{
    background-color: $primary-color;
}

.bg-default-text-color
{
    background-color: $default-text-color;
}

.bg-secondary-text-color
{
    background-color: $secondary-text-color;
}

.bg-white-op50
{
    background-color: rgba(255,255,255,.5);
}

.bg-white-op75
{
    background-color: rgba(255,255,255,.75);
}

.bg-white-op90
{
    background-color: rgba(255,255,255,.90);
}

.bg-light-gray-op-50
{
    background-color: rgba(#f2f2f2, .5);
}

.bg-light-gray-op-90
{
    background-color: rgba(#f2f2f2, .9);
}

.bg-light-gray
{
    background-color: rgba(#f2f2f2, .5);
}

.bg-dark-gray
{
    background-color: #636363;
}

.border-1-transparent
{
    border: 1px solid transparent;
}

.border-1-primary-color
{
    border: 1px solid $aqua-blue;
}

.border-1-secondary-text-color
{
    border: 1px solid $aqua-blue;
}

.border-1-black
{
    border: 1px solid #000;
}

.border-1-gradient
{
    border-width: 1px;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(0deg, rgba(65, 22, 96, 1) 0%, rgba(65, 22, 96, 1) .45%, rgba(65, 22, 96, 1) 16.79%, rgba(67, 22, 96, 1) 17.27%, rgba(110, 30, 105, 1) 27.2%, rgba(143, 37, 111, 1) 36.83%, rgba(167, 41, 116, 1) 45.97%, rgba(182, 44, 119, 1) 54.42%, rgba(187, 45, 120, 1) 61.51%, rgba(189, 59, 98, 1) 66.55%, rgba(191, 73, 75, 1) 73.22%, rgba(193, 82, 59, 1) 80.49%, rgba(194, 88, 50, 1) 88.71%, rgba(194, 90, 47, 1) 99.94%, rgba(190, 66, 57, 1) 100%);
    -webkit-border-image: -webkit-gradient(linear,238.26% 99649.55% ,238.4% 99649.55% ,color-stop(0,rgba(65, 22, 96, 1) ),color-stop(.0045,rgba(65, 22, 96, 1) ),color-stop(.1679,rgba(65, 22, 96, 1) ),color-stop(.1727,rgba(67, 22, 96, 1) ),color-stop(.272,rgba(110, 30, 105, 1) ),color-stop(.3683,rgba(143, 37, 111, 1) ),color-stop(.4597,rgba(167, 41, 116, 1) ),color-stop(.5442,rgba(182, 44, 119, 1) ),color-stop(.6151,rgba(187, 45, 120, 1) ),color-stop(.6655,rgba(189, 59, 98, 1) ),color-stop(.7322,rgba(191, 73, 75, 1) ),color-stop(.8049,rgba(193, 82, 59, 1) ),color-stop(.8871,rgba(194, 88, 50, 1) ),color-stop(.9994,rgba(194, 90, 47, 1) ),color-stop(1,rgba(190, 66, 57, 1) ));
       -moz-border-image:    -moz-linear-gradient(238.26% 99649.55% 0deg,rgba(65, 22, 96, 1) 0%,rgba(65, 22, 96, 1) .45%,rgba(65, 22, 96, 1) 16.79%,rgba(67, 22, 96, 1) 17.27%,rgba(110, 30, 105, 1) 27.2%,rgba(143, 37, 111, 1) 36.83%,rgba(167, 41, 116, 1) 45.97%,rgba(182, 44, 119, 1) 54.42%,rgba(187, 45, 120, 1) 61.51%,rgba(189, 59, 98, 1) 66.55%,rgba(191, 73, 75, 1) 73.22%,rgba(193, 82, 59, 1) 80.49%,rgba(194, 88, 50, 1) 88.71%,rgba(194, 90, 47, 1) 99.94%,rgba(190, 66, 57, 1) 100%);
         -o-border-image:      -o-linear-gradient(0deg, rgba(65, 22, 96, 1) 0%, rgba(65, 22, 96, 1) .45%, rgba(65, 22, 96, 1) 16.79%, rgba(67, 22, 96, 1) 17.27%, rgba(110, 30, 105, 1) 27.2%, rgba(143, 37, 111, 1) 36.83%, rgba(167, 41, 116, 1) 45.97%, rgba(182, 44, 119, 1) 54.42%, rgba(187, 45, 120, 1) 61.51%, rgba(189, 59, 98, 1) 66.55%, rgba(191, 73, 75, 1) 73.22%, rgba(193, 82, 59, 1) 80.49%, rgba(194, 88, 50, 1) 88.71%, rgba(194, 90, 47, 1) 99.94%, rgba(190, 66, 57, 1) 100%);
            border-image:         linear-gradient(90deg, rgba(65, 22, 96, 1) 0%, rgba(65, 22, 96, 1) .45%, rgba(65, 22, 96, 1) 16.79%, rgba(67, 22, 96, 1) 17.27%, rgba(110, 30, 105, 1) 27.2%, rgba(143, 37, 111, 1) 36.83%, rgba(167, 41, 116, 1) 45.97%, rgba(182, 44, 119, 1) 54.42%, rgba(187, 45, 120, 1) 61.51%, rgba(189, 59, 98, 1) 66.55%, rgba(191, 73, 75, 1) 73.22%, rgba(193, 82, 59, 1) 80.49%, rgba(194, 88, 50, 1) 88.71%, rgba(194, 90, 47, 1) 99.94%, rgba(190, 66, 57, 1) 100%);
    border-image-slice: 1;
}
.border-1-black
{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px solid black;
}
.border-1-gradient-bottom
{
    border-top: 0;
    border-right: 0;
    border-left: 0;

    @extend .border-1-gradient;
}

.bg-gradient-white
{
    background: rgba(255,255,255,1);
    background:    -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,.5) 35%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(246,246,246,.5)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,.5) 35%, rgba(255,255,255,0) 100%);
    background:      -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,.5) 35%, rgba(255,255,255,0) 100%);
    background:     -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,.5) 35%, rgba(255,255,255,0) 100%);
    background:         linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(246,246,246,.5) 35%, rgba(255,255,255,0) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.fill-white
{
    fill: #fff;
}

.fill-black
{
    fill: #000;
}

.fill-primary-color
{
    fill: $primary-color;
}

.absolute-center
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}

.translate-center
{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.translateX
{
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
}

.translateY
{
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.grayscale-transition
{
    -webkit-transition: filter .5s, -webkit-filter .5s;
            transition: filter .5s, -webkit-filter .5s;

    -webkit-filter: grayscale(100%) brightness(105%) contrast(120%);
            filter: grayscale(100%) brightness(105%) contrast(120%);

    &:hover
    {
        -webkit-filter: none;
                filter: none;
    }
}
.text-decoration-none:hover
{
    text-decoration: none!important;
}

.transition-2-ease-in-out
{
    transition: all .2s ease-in-out;
}

.transition-5-ease-in-out
{
    transition: all .5s ease-in-out;
}

.box-shadow-regular-home{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(174,137,118, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(174,137,118, 1);
  box-shadow: 10px 10px 0px 0px rgba(174,137,118, 1);
}

.box-shadow-hover-home{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(220,103,49, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(220,103,49, 1);
  box-shadow: 10px 10px 0px 0px rgba(220,103,49, 1);
}

.box-gradient-blue{
  background: rgba(201,232,214, 1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(201,232,214, 1) 31%, rgba(201,232,214, 1) 62%);
  background: -webkit-gradient(left top, left bottom, color-stop(29%, rgba(255,255,255,1)), color-stop(31%, rgba(255,255,255,1)), color-stop(31%, rgba(201,232,214, 1)), color-stop(62%, rgba(201,232,214, 1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(201,232,214, 1) 31%, rgba(201,232,214, 1) 62%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(201,232,214, 1) 31%, rgba(201,232,214, 1) 62%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(201,232,214, 1) 31%, rgba(201,232,214, 1) 62%);
  background: linear-gradient(to bottom,#fff 20%,#fff 5%,#C9E8D6 15%,#C9E8D6 85%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#72c3bc', GradientType=0 );
}

.box-shadow-regular-highlights{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 1);
}

.box-shadow-hover-highlights{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(31, 46, 45, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(31, 46, 45, 1);
  box-shadow: 10px 10px 0px 0px rgba(31, 46, 45, 1);
}


.center-border-top{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 577.38 68.17'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D.cls-2%7Bfill:%231e120d;%7D.cls-3%7Bfill:%23ffcb00;%7D.cls-4%7Bfill:%23cae8d6;%7D.cls-5%7Bfill:url%28%23Unnamed_Pattern_6%29;%7D.cls-6%7Bfill:%23ebfcf1;%7D.cls-7%7Bfill:%231c1c1a;%7D.cls-8%7Bfill:%23f8b03c;%7D.cls-9%7Bfill:url%28%23Unnamed_Pattern_6-3%29;%7D%3C/style%3E%3Cpattern id='Unnamed_Pattern_6' data-name='Unnamed Pattern 6' width='33.6' height='33.74' patternTransform='matrix%280.33, 0, 0, -0.33, -5281.85, 5113.27%29' patternUnits='userSpaceOnUse' viewBox='0 0 33.6 33.74'%3E%3Crect class='cls-1' width='33.6' height='33.74'/%3E%3Cpath class='cls-2' d='M8.4,0A8.4,8.4,0,1,1,0,8.4,8.4,8.4,0,0,1,8.4,0'/%3E%3Cpath class='cls-2' d='M8.4,16.94A8.4,8.4,0,1,1,0,25.34a8.4,8.4,0,0,1,8.4-8.4'/%3E%3Cpath class='cls-2' d='M25.2,0a8.4,8.4,0,1,1-8.4,8.4A8.4,8.4,0,0,1,25.2,0'/%3E%3Cpath class='cls-2' d='M25.2,16.94a8.4,8.4,0,1,1-8.4,8.4,8.4,8.4,0,0,1,8.4-8.4'/%3E%3C/pattern%3E%3Cpattern id='Unnamed_Pattern_6-3' data-name='Unnamed Pattern 6' width='33.6' height='33.74' patternTransform='matrix%280.33, 0, 0, -0.33, -5277.68, 5113.27%29' patternUnits='userSpaceOnUse' viewBox='0 0 33.6 33.74'%3E%3Crect class='cls-1' width='33.6' height='33.74'/%3E%3Cpath class='cls-2' d='M8.4,0A8.4,8.4,0,1,1,0,8.4,8.4,8.4,0,0,1,8.4,0'/%3E%3Cpath class='cls-2' d='M8.4,16.94A8.4,8.4,0,1,1,0,25.34a8.4,8.4,0,0,1,8.4-8.4'/%3E%3Cpath class='cls-2' d='M25.2,0a8.4,8.4,0,1,1-8.4,8.4A8.4,8.4,0,0,1,25.2,0'/%3E%3Cpath class='cls-2' d='M25.2,16.94a8.4,8.4,0,1,1-8.4,8.4,8.4,8.4,0,0,1,8.4-8.4'/%3E%3C/pattern%3E%3C/defs%3E%3Ctitle%3EAsset-4%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='cls-3' x='0.03' y='26.4' width='288.66' height='10.31'/%3E%3Crect class='cls-3' x='0.03' y='47.55' width='288.66' height='10.31'/%3E%3Crect class='cls-4' x='0.02' width='288.66' height='12.49'/%3E%3Crect class='cls-5' width='288.66' height='12.49'/%3E%3Crect class='cls-6' x='0.03' y='12.49' width='288.61' height='4.08'/%3E%3Crect class='cls-4' x='0.03' y='16.09' width='288.66' height='10.31'/%3E%3Cpolygon class='cls-6' points='20.64 26.4 10.33 36.71 10.33 16.09 20.64 26.4'/%3E%3Cpolygon class='cls-7' points='0.03 26.4 10.33 16.09 10.33 36.71 0.03 26.4'/%3E%3Cpolygon class='cls-6' points='41.26 26.4 30.95 36.71 30.95 16.09 41.26 26.4'/%3E%3Cpolygon class='cls-7' points='20.64 26.4 30.95 16.09 30.95 36.71 20.64 26.4'/%3E%3Cpolygon class='cls-6' points='61.88 26.4 51.57 36.71 51.57 16.09 61.88 26.4'/%3E%3Cpolygon class='cls-7' points='41.27 26.4 51.57 16.09 51.57 36.71 41.27 26.4'/%3E%3Cpolygon class='cls-6' points='82.49 26.4 72.19 36.71 72.19 16.09 82.49 26.4'/%3E%3Cpolygon class='cls-7' points='61.88 26.4 72.19 16.09 72.19 36.71 61.88 26.4'/%3E%3Cpolygon class='cls-6' points='103.12 26.4 92.81 36.71 92.81 16.09 103.12 26.4'/%3E%3Cpolygon class='cls-7' points='82.5 26.4 92.81 16.09 92.81 36.71 82.5 26.4'/%3E%3Cpolygon class='cls-6' points='123.73 26.4 113.42 36.71 113.42 16.09 123.73 26.4'/%3E%3Cpolygon class='cls-7' points='103.12 26.4 113.43 16.09 113.43 36.71 103.12 26.4'/%3E%3Cpolygon class='cls-6' points='144.36 26.4 134.05 36.71 134.05 16.09 144.36 26.4'/%3E%3Cpolygon class='cls-7' points='123.74 26.4 134.05 16.09 134.05 36.71 123.74 26.4'/%3E%3Cpolygon class='cls-6' points='164.97 26.4 154.66 36.71 154.66 16.09 164.97 26.4'/%3E%3Cpolygon class='cls-7' points='144.36 26.4 154.66 16.09 154.66 36.71 144.36 26.4'/%3E%3Cpolygon class='cls-6' points='185.6 26.4 175.29 36.71 175.29 16.09 185.6 26.4'/%3E%3Cpolygon class='cls-7' points='164.98 26.4 175.29 16.09 175.29 36.71 164.98 26.4'/%3E%3Cpolygon class='cls-6' points='206.21 26.4 195.9 36.71 195.9 16.09 206.21 26.4'/%3E%3Cpolygon class='cls-7' points='185.6 26.4 195.9 16.09 195.9 36.71 185.6 26.4'/%3E%3Cpolygon class='cls-6' points='226.84 26.4 216.53 36.71 216.53 16.09 226.84 26.4'/%3E%3Cpolygon class='cls-7' points='206.22 26.4 216.53 16.09 216.53 36.71 206.22 26.4'/%3E%3Cpolygon class='cls-6' points='247.45 26.4 237.14 36.71 237.14 16.09 247.45 26.4'/%3E%3Cpolygon class='cls-7' points='226.84 26.4 237.14 16.09 237.14 36.71 226.84 26.4'/%3E%3Cpolygon class='cls-6' points='268.07 26.4 257.77 36.71 257.77 16.09 268.07 26.4'/%3E%3Cpolygon class='cls-7' points='247.46 26.4 257.77 16.09 257.77 36.71 247.46 26.4'/%3E%3Cpolygon class='cls-6' points='288.69 26.4 278.38 36.71 278.38 16.09 288.69 26.4'/%3E%3Cpolygon class='cls-7' points='268.07 26.4 278.38 16.09 278.38 36.71 268.07 26.4'/%3E%3Cpolygon class='cls-8' points='20.65 57.86 10.34 68.17 10.34 47.55 20.65 57.86'/%3E%3Cpolygon class='cls-8' points='0.04 57.86 10.35 47.55 10.35 68.17 0.04 57.86'/%3E%3Cpolygon class='cls-8' points='41.27 57.86 30.96 68.17 30.96 47.55 41.27 57.86'/%3E%3Cpolygon class='cls-8' points='20.65 57.86 30.96 47.55 30.96 68.17 20.65 57.86'/%3E%3Cpolygon class='cls-8' points='61.88 57.86 51.57 68.17 51.57 47.55 61.88 57.86'/%3E%3Cpolygon class='cls-8' points='41.27 57.86 51.57 47.55 51.57 68.17 41.27 57.86'/%3E%3Cpolygon class='cls-8' points='82.49 57.86 72.19 68.17 72.19 47.55 82.49 57.86'/%3E%3Cpolygon class='cls-8' points='61.88 57.86 72.19 47.55 72.19 68.17 61.88 57.86'/%3E%3Cpolygon class='cls-8' points='103.11 57.86 92.8 68.17 92.8 47.55 103.11 57.86'/%3E%3Cpolygon class='cls-8' points='82.49 57.86 92.8 47.55 92.8 68.17 82.49 57.86'/%3E%3Cpolygon class='cls-8' points='123.72 57.86 113.41 68.17 113.41 47.55 123.72 57.86'/%3E%3Cpolygon class='cls-8' points='103.11 57.86 113.42 47.55 113.42 68.17 103.11 57.86'/%3E%3Cpolygon class='cls-8' points='144.34 57.86 134.03 68.17 134.03 47.55 144.34 57.86'/%3E%3Cpolygon class='cls-8' points='123.72 57.86 134.03 47.55 134.03 68.17 123.72 57.86'/%3E%3Cpolygon class='cls-8' points='164.95 57.86 154.64 68.17 154.64 47.55 164.95 57.86'/%3E%3Cpolygon class='cls-8' points='144.34 57.86 154.64 47.55 154.64 68.17 144.34 57.86'/%3E%3Cpolygon class='cls-8' points='185.56 57.86 175.26 68.17 175.26 47.55 185.56 57.86'/%3E%3Cpolygon class='cls-8' points='164.95 57.86 175.26 47.55 175.26 68.17 164.95 57.86'/%3E%3Cpolygon class='cls-8' points='206.18 57.86 195.87 68.17 195.87 47.55 206.18 57.86'/%3E%3Cpolygon class='cls-8' points='185.56 57.86 195.87 47.55 195.87 68.17 185.56 57.86'/%3E%3Cpolygon class='cls-8' points='226.79 57.86 216.49 68.17 216.49 47.55 226.79 57.86'/%3E%3Cpolygon class='cls-8' points='206.18 57.86 216.49 47.55 216.49 68.17 206.18 57.86'/%3E%3Cpolygon class='cls-8' points='247.41 57.86 237.1 68.17 237.1 47.55 247.41 57.86'/%3E%3Cpolygon class='cls-8' points='226.79 57.86 237.1 47.55 237.1 68.17 226.79 57.86'/%3E%3Cpolygon class='cls-8' points='268.02 57.86 257.71 68.17 257.71 47.55 268.02 57.86'/%3E%3Cpolygon class='cls-8' points='247.41 57.86 257.71 47.55 257.71 68.17 247.41 57.86'/%3E%3Cpolygon class='cls-8' points='288.63 57.86 278.33 68.17 278.33 47.55 288.63 57.86'/%3E%3Cpolygon class='cls-8' points='268.02 57.86 278.33 47.55 278.33 68.17 268.02 57.86'/%3E%3Crect class='cls-4' x='0.03' y='36.71' width='288.66' height='6.22'/%3E%3Crect class='cls-7' x='0.03' y='42.92' width='288.66' height='4.63'/%3E%3Crect class='cls-3' x='288.72' y='26.4' width='288.66' height='10.31'/%3E%3Crect class='cls-3' x='288.72' y='47.55' width='288.66' height='10.31'/%3E%3Crect class='cls-4' x='288.71' width='288.66' height='12.49'/%3E%3Crect class='cls-9' x='288.69' width='288.66' height='12.49'/%3E%3Crect class='cls-6' x='288.72' y='12.49' width='288.61' height='4.08'/%3E%3Crect class='cls-4' x='288.72' y='16.09' width='288.66' height='10.31'/%3E%3Cpolygon class='cls-6' points='309.33 26.4 299.02 36.71 299.02 16.09 309.33 26.4'/%3E%3Cpolygon class='cls-7' points='288.71 26.4 299.02 16.09 299.02 36.71 288.71 26.4'/%3E%3Cpolygon class='cls-6' points='329.94 26.4 319.63 36.71 319.63 16.09 329.94 26.4'/%3E%3Cpolygon class='cls-7' points='309.33 26.4 319.64 16.09 319.64 36.71 309.33 26.4'/%3E%3Cpolygon class='cls-6' points='350.57 26.4 340.26 36.71 340.26 16.09 350.57 26.4'/%3E%3Cpolygon class='cls-7' points='329.95 26.4 340.26 16.09 340.26 36.71 329.95 26.4'/%3E%3Cpolygon class='cls-6' points='371.18 26.4 360.87 36.71 360.87 16.09 371.18 26.4'/%3E%3Cpolygon class='cls-7' points='350.57 26.4 360.88 16.09 360.88 36.71 350.57 26.4'/%3E%3Cpolygon class='cls-6' points='391.81 26.4 381.5 36.71 381.5 16.09 391.81 26.4'/%3E%3Cpolygon class='cls-7' points='371.19 26.4 381.5 16.09 381.5 36.71 371.19 26.4'/%3E%3Cpolygon class='cls-6' points='412.42 26.4 402.11 36.71 402.11 16.09 412.42 26.4'/%3E%3Cpolygon class='cls-7' points='391.81 26.4 402.11 16.09 402.11 36.71 391.81 26.4'/%3E%3Cpolygon class='cls-6' points='433.05 26.4 422.74 36.71 422.74 16.09 433.05 26.4'/%3E%3Cpolygon class='cls-7' points='412.43 26.4 422.74 16.09 422.74 36.71 412.43 26.4'/%3E%3Cpolygon class='cls-6' points='453.66 26.4 443.35 36.71 443.35 16.09 453.66 26.4'/%3E%3Cpolygon class='cls-7' points='433.05 26.4 443.35 16.09 443.35 36.71 433.05 26.4'/%3E%3Cpolygon class='cls-6' points='474.28 26.4 463.98 36.71 463.98 16.09 474.28 26.4'/%3E%3Cpolygon class='cls-7' points='453.67 26.4 463.98 16.09 463.98 36.71 453.67 26.4'/%3E%3Cpolygon class='cls-6' points='494.9 26.4 484.59 36.71 484.59 16.09 494.9 26.4'/%3E%3Cpolygon class='cls-7' points='474.28 26.4 484.59 16.09 484.59 36.71 474.28 26.4'/%3E%3Cpolygon class='cls-6' points='515.52 26.4 505.21 36.71 505.21 16.09 515.52 26.4'/%3E%3Cpolygon class='cls-7' points='494.91 26.4 505.22 16.09 505.22 36.71 494.91 26.4'/%3E%3Cpolygon class='cls-6' points='536.14 26.4 525.83 36.71 525.83 16.09 536.14 26.4'/%3E%3Cpolygon class='cls-7' points='515.52 26.4 525.83 16.09 525.83 36.71 515.52 26.4'/%3E%3Cpolygon class='cls-6' points='556.76 26.4 546.45 36.71 546.45 16.09 556.76 26.4'/%3E%3Cpolygon class='cls-7' points='536.15 26.4 546.46 16.09 546.46 36.71 536.15 26.4'/%3E%3Cpolygon class='cls-6' points='577.38 26.4 567.07 36.71 567.07 16.09 577.38 26.4'/%3E%3Cpolygon class='cls-7' points='556.76 26.4 567.07 16.09 567.07 36.71 556.76 26.4'/%3E%3Cpolygon class='cls-8' points='309.34 57.86 299.03 68.17 299.03 47.55 309.34 57.86'/%3E%3Cpolygon class='cls-8' points='288.73 57.86 299.03 47.55 299.03 68.17 288.73 57.86'/%3E%3Cpolygon class='cls-8' points='329.95 57.86 319.64 68.17 319.64 47.55 329.95 57.86'/%3E%3Cpolygon class='cls-8' points='309.34 57.86 319.65 47.55 319.65 68.17 309.34 57.86'/%3E%3Cpolygon class='cls-8' points='350.57 57.86 340.26 68.17 340.26 47.55 350.57 57.86'/%3E%3Cpolygon class='cls-8' points='329.95 57.86 340.26 47.55 340.26 68.17 329.95 57.86'/%3E%3Cpolygon class='cls-8' points='371.18 57.86 360.87 68.17 360.87 47.55 371.18 57.86'/%3E%3Cpolygon class='cls-8' points='350.57 57.86 360.88 47.55 360.88 68.17 350.57 57.86'/%3E%3Cpolygon class='cls-8' points='391.8 57.86 381.49 68.17 381.49 47.55 391.8 57.86'/%3E%3Cpolygon class='cls-8' points='371.18 57.86 381.49 47.55 381.49 68.17 371.18 57.86'/%3E%3Cpolygon class='cls-8' points='412.41 57.86 402.1 68.17 402.1 47.55 412.41 57.86'/%3E%3Cpolygon class='cls-8' points='391.8 57.86 402.1 47.55 402.1 68.17 391.8 57.86'/%3E%3Cpolygon class='cls-8' points='433.02 57.86 422.72 68.17 422.72 47.55 433.02 57.86'/%3E%3Cpolygon class='cls-8' points='412.41 57.86 422.72 47.55 422.72 68.17 412.41 57.86'/%3E%3Cpolygon class='cls-8' points='453.64 57.86 443.33 68.17 443.33 47.55 453.64 57.86'/%3E%3Cpolygon class='cls-8' points='433.02 57.86 443.33 47.55 443.33 68.17 433.02 57.86'/%3E%3Cpolygon class='cls-8' points='474.25 57.86 463.94 68.17 463.94 47.55 474.25 57.86'/%3E%3Cpolygon class='cls-8' points='453.64 57.86 463.95 47.55 463.95 68.17 453.64 57.86'/%3E%3Cpolygon class='cls-8' points='494.87 57.86 484.56 68.17 484.56 47.55 494.87 57.86'/%3E%3Cpolygon class='cls-8' points='474.25 57.86 484.56 47.55 484.56 68.17 474.25 57.86'/%3E%3Cpolygon class='cls-8' points='515.48 57.86 505.17 68.17 505.17 47.55 515.48 57.86'/%3E%3Cpolygon class='cls-8' points='494.87 57.86 505.17 47.55 505.17 68.17 494.87 57.86'/%3E%3Cpolygon class='cls-8' points='536.1 57.86 525.79 68.17 525.79 47.55 536.1 57.86'/%3E%3Cpolygon class='cls-8' points='515.48 57.86 525.79 47.55 525.79 68.17 515.48 57.86'/%3E%3Cpolygon class='cls-8' points='556.71 57.86 546.4 68.17 546.4 47.55 556.71 57.86'/%3E%3Cpolygon class='cls-8' points='536.1 57.86 546.4 47.55 546.4 68.17 536.1 57.86'/%3E%3Cpolygon class='cls-8' points='577.32 57.86 567.01 68.17 567.01 47.55 577.32 57.86'/%3E%3Cpolygon class='cls-8' points='556.71 57.86 567.02 47.55 567.02 68.17 556.71 57.86'/%3E%3Crect class='cls-4' x='288.72' y='36.71' width='288.66' height='6.22'/%3E%3Crect class='cls-7' x='288.72' y='42.92' width='288.66' height='4.63'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: top;
  background-repeat: repeat-x;
  background-size: auto 58px;
}
