.filter-genre
{
    margin-bottom: 2.5rem;

    select
    {
        font-family: 'Museo-300', sans-serif;
        font-size: convertREM(14);
        font-weight: $fw-light;
        line-height: convertREM(40);

        display: block;

        width: 100%;
        height: convertREM(40);
        padding: 0 10px;

        letter-spacing: 4.2px;

        border-radius: 0;
        background-color: #fff;

        @extend .border-1-transparent;

        &:focus,
        &:hover
        {
            outline: none;

            @extend .border-1-secondary-text-color;
        }

        option
        {
            font-family: $Main-font-family;
            font-size: convertREM(14);
            font-weight: $fw-light;
            line-height: convertREM(40);
        }
    }
}

.filter-reasons
{
    ul
    {
        padding-left: 0;

        list-style: none;
    }


    input[type='checkbox']
    {
        display: none;
        & + label
        {
            position: relative;

            display: inline-block;

            width: 100%;
            padding-left: 45px;

            cursor: pointer;

            @extend .transition-2-ease-in-out;
            &:before,
            &:after
            {
                position: absolute;
                z-index: 25;
                top: 0;
                left: 0;

                width: 25px;
                height: 25px;

                content: '';
                transition: all .3s ease;

                color: #fff;
                border-radius: 0;
            }
        }
    }
}
