.site-footer
{
    min-height: 40px;

    @include media('<=tablet')
    {
        .menu-item
        {
            display: block;
            //margin-left: 50px;
            width: 100%;
            margin-bottom: 10px;
            text-align: right;
        }
    }


    .form-thanks-container
    {
        line-height: 40px;

        text-align: right;
    }

    .social-links
    {
        @include media('>ipad-landscape')
        {
            display: none;
        }
    }
}

.wrapper-footer
{
    padding: 25px 0;
    border-width: 10px;
    @include media('<=ipad-landscape')
    {
        padding: 25px 16px;
        margin-top: 50px;
    }

    &.__border-bottom
    {
        border-width: 10px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        @extend .border-1-black
    }
}

.widget_social_links
{
    padding: 0;

    text-align: right;

    @include media('<=tablet')
    {
        padding-top: 3px;

        text-align: center;
    }
}

.site-footer-links-social
{
    font-size: 21px;

    padding: 0 15px;

    transition: color .2s ease-in-out;

    color: $default-text-color;
    &:last-child
    {
        padding-right: 0;
    }
    &:hover
    {
        color: $yellow-background;
    }
}

.site-footer-logo
{
    position: absolute; //safari fix
    z-index: 20;
    top: -13px;

    float: left;

    width: 45px;
    height: 40px;

    color: #000;

    @include media('<=tablet')
    {
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover
    {
        text-decoration: none;

        color: #000;
    }
    svg
    {
        margin-bottom: 10px;

        path
        {
            fill: #000;
        }
    }
    span
    {
        font-size: 12px;
        font-weight: $fw-light;
        line-height: 12px;
    }
}

.site-footer-container
{
    float: right;

    @include media('>tablet')
    {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.site-footer-links .menu-item
{
    .nav-link
    {
        transition: color .2s ease-in-out;

        color: $default-text-color;

        @include media('<=phone')
        {
            padding: .2em 0;
        }
        @include media('>phone','<=ipad-landscape')
        {
            padding: .2em 1em;
        }
    }
    &:hover
    {
        a
        {
            color: $primary-color;
        }
    }
}

.form-subscribe
{
    display: inline-block;
    float: right;

    width: 320px;

    @include media('<=tablet')
    {
        width: 100%;
        margin-top: 0;
        margin-bottom: 10px;
    }

    input
    {
        height: 38px;
    }
}

.footer-white-links
{
    .site-footer-logo
    {
        span
        {
            color: #fff;
        }

        svg path
        {
            fill: #fff!important;
        }
    }
    .site-footer-links .menu-item
    {
        a
        {
            color: #fff;
        }
    }
    .site-footer-links-social
    {
        color: #fff;
    }
}

.bg-split
{
    .site-footer-links .menu-item
    {
        &:hover
        {
            a
            {
                color: #fff;
            }
        }
    }
    .site-footer-links-social
    {
        &:hover
        {
            color: #fff;
        }
    }
}

.logo-nosso-market
{
    position: absolute;
    z-index: 25;
    left: 85px;

    display: block;

    svg
    {
        width: 80px;
        height: 44px;
    }
}


.float-footer
{
    position: absolute;
    z-index: 100;
    bottom: 0;

    width: 100%;

    @extend .bg-gradient-white;
}


#cookies-warning
{
    font-size: 12px;

    position: fixed;
    z-index: 900;
    bottom: 0;
    left: 0;

    display: none;
    overflow: hidden;

    width: 100%;
    padding: 15px;

    text-align: center;

    color: $default-text-color;
    background-color: $primary-color;

    a
    {
        text-decoration: underline;

        color: $default-text-color;

        &:hover
        {
            color: $default-text-color;
        }
    }

    a[data-set]
    {
        margin: 0 10px;
        padding: 5px 15px;

        cursor: pointer;
        text-decoration: none;

        background: #fff;
    }
}
