.form
{
    display: block;

    width: 100%;
    max-width: 500px;
    margin: 0;
}

.form-container
{
    @extend .bg-transparent;
    @extend .transition-2-ease-in-out;

    & > .wpcf7
    {
        max-width: 500px;
    }
}

.form-thanks-container
{
    display: none;

    text-align: center;
}
