html
{
    font-size: 14px;

    @include media('>tablet')
    {
        font-size: 15px;
    }
    @include media('>l-desktop')
    {
        font-size: 16px;
    }
}

body
{
    font-family: $Main-font-family;
    font-weight: $fw-regular;

    color: #000;
    //background: #f2f2f2 url('../img/bg-logo.png') no-repeat center top;
    //background-size: 60%;
}

.bg-photo
{
    background: #fff url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
}

.overflow-hidden-y
{
    overflow-y: hidden!important;
}

.container
{
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;

    @include media('>tablet')
    {
        padding-right: 40px;
        padding-left: 40px;
    }
    @include media('>desktop')
    {
        width: 1120px;
    }
    @include media('>l-desktop')
    {
        width: 1300px;
    }
    @include media('>xl-desktop')
    {
        width: 1820px;
    }
}

.col-xlg-2
{
    @include media('>xl-desktop')
    {
        max-width: 16.66667%;

        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    }
}

.col-xlg-6
{
    @include media('>xl-desktop')
    {
        max-width: 50%;

        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    }
}

.wrapper:not(.wrapper-footer)
{
    margin-top: 105px;

    @include media('>ipad-landscape')
    {
        margin-top: 135px;
    }
}

.admin-bar .wrapper:not(.wrapper-footer)
{
    //margin-top: 96px;
}

.custom-scroll
{
    @include media('>tablet')
    {
        overflow-y: auto;

        max-height: 100%;
    }

    &::-webkit-scrollbar-track
    {
        border-right: 7px solid #fff;
        border-left: 7px solid #fff;
        border-radius: 0;
        background-color: #e2e2e2;
        -webkit-box-shadow: none;
        -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.3);
    }

    &::-webkit-scrollbar
    {
        width: 15px;

        background-color: none;
    }

    &::-webkit-scrollbar-thumb
    {
        border-right: 0 solid #fff;
        border-left: 0 solid #fff;
        border-radius: 0;
        background-color: #000;
    }
}

.fullContainerPage
{
    padding-bottom: 0;
}


.fullHeight
{
    height: 100%;
}

.scroll-container
{
    overflow-y: scroll;

    @extend .fullHeight;

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb
    {
        display: none;
    }
}

.nopadding
{
    padding: 0!important;
}

.divider-primary-color
{
    width: 100px;
    height: 1px;
    margin: 3rem auto;

    border-top: 2px solid $primary-color;
}

.divider-primary-color-5w
{
    width: 25px;
    margin: 0 0 1rem;

    border-width: 5px;

    @extend .divider-primary-color;
}

.divider-form
{
    margin: 2rem auto;

    border-top: 1px solid $default-text-color;

    @extend .divider-primary-color;
}

.divider-gradient
{
    width: 25px;
    height: 1px;
    margin: 0;

    @extend .border-1-gradient-bottom;
}

.divider-vertical-gradient
{
    width: 1px;
    height: 50px;
    margin: auto;

    @extend .border-1-gradient;
}

.pos-rel
{
    position: relative;
}

.display-flex-center
{
    display: flex;

    justify-content: center;
    align-items: center;
}

.info-box
{
    display: inline-block;

    max-width: 100%;
    padding: 15px 35px;

    @extend .bg-black;
    @include media('<=phone')
    {
        display: block;
    }
    @include media('>tablet','<=ipad-landscape')
    {
        .body-text-15
        {
            font-size: 16px;
            line-height: 18px;
        }
        .body-text-20
        {
            font-size: 16px;
            line-height: 18px!important;
        }
    }
    @include media('<=l-desktop')
    {
        padding: 15px;
    }

    h2,
    p
    {
        margin-bottom: 0;
    }

    &.__bg-primary-color
    {
        @extend .bg-primary-color;
    }
}


#wpadminbar
{
    @include media('<=tablet')
    {
        display: none;
    }
}
