.item-highlight
{
    max-width: 280px!important;
    @extend .item-reason;

    .article-title
    {
        font-family: 'Museo-700', sans-serif;
        color: #000;
        font-size: convertREM(38);
    }

    &.__wide
    {
        max-width: 100%;
    }

    &.__on-hover
    {
        .item-highlight-header
        {
            img
            {
              @extend .box-shadow-regular-home;
            }
        }
    }
}

.item-highlight-header
{
    @extend .item-reason-header; 
}
.item-highlight-content
{
    background-color: #FFCA00;
    height: 100%;
    color: white;
    padding: 20px 40px 20px 15px;
    border-width: 5px!important;
    @extend .item-reason-content;
    @extend .transition-2-ease-in-out;
    h3
    {
        color: $fourth-text-color;
    }
    .article-date{
        font-size: convertREM(26);
        color: white;
        font-family: 'Museo-500', sans-serif;
    }
    .item-highligth-content-footer{
      text-align: right;
      margin-top: 32px;
      .st0{
        fill: $aqua-blue;
      }
    }
}

.item-highlight{
  &:hover{
    .item-highlight-content{
      @extend .transition-2-ease-in-out;
      background-color: #D5343C;
    }
    .st0{
      fill: white;
    }
  }
}
