.item-service
{
    position: relative;
    height: 215px;
    max-height: 215px;
    margin-bottom: .5rem;
    padding: 15px;
    cursor: pointer;
    background-color: rgba(#fff,.5);
    @extend .border-1-transparent;
    @extend .transition-2-ease-in-out;

    &:hover{
      background-color: $yellow-background;
      color: white;
    }
    .open-btn
    {
        position: absolute;
        right: 10px;
        bottom: 0;
        opacity: 1;
        @extend .transition-2-ease-in-out;

        &:after
        {
            font-size: 40px;
            font-weight: 300;
            line-height: 38px;
            color: $burn-yellow;
            content: '+';
        }
    }


    &.active
    {
        @extend .border-1-black;

        .open-btn
        {
            opacity: 1;
            top: 0!important;
            -webkit-text-fill-color: white;
            bottom: unset!important;
        }

        .item-service-header
        {
            svg *
            {
                fill: #000;
                stroke: #000;
            }

            p
            {
                @extend .text-black;
            }
        }
        .item-service-content-body
        {
            p
            {
                font-family: 'Museo-500', sans-serif;
                font-size: convertREM(15);
                @include media('<=desktop')
                {
                  font-size: 10px;
                }
            }
        }
    }
    &.active
    {
        height: auto;
        max-height: 500px;

        background-color: $yellow-background;

        .open-btn
        {
            &:after
            {
                content: 'x';
                top: 0!important;
                -webkit-text-fill-color: white;
                bottom: unset!important;
            }
        }

        .item-service-content
        {
            display: block;
            p
            {
                color: white!important;
            }
        }
        .item-service-header
        {
          p
          {
            color: white!important;
          }
        }
    }
}

.item-service-header
{
    position: relative;

    height: 180px;

    p
    {
        top: 65%;
        max-width: 100%;
        margin-bottom: 0;
        font-family: 'Museo-500', sans-serif;
        font-size: convertREM(15px);
        text-align: center;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;
        @extend .translateX;
        @include media('<l-desktop')
        {
          font-size: 10px;
        }
    }

    image,
    svg
    {
        top: 15%;

        display: block;

        width: 70px;
        height: 70px;

        @extend .translateX;
    }
    img
    {
      margin: 10px auto;
      display: block;
    }

    svg *
    {
        fill: #000;
        stroke: #000;
    }
}

.item-service-content
{
    display: none;

    text-align: center;

    @extend .transition-5-ease-in-out;
}
