.item-suggestions
{
    @extend .item-highlight;
}

.item-suggestions-header
{
    border-width: 5px!important;

    @extend .item-reason-header;
    @extend .border-1-gradient;
}

.item-suggestions-content
{
    padding: 20px 15px;

    border: 0!important;

    @extend .item-highlight-content;
}
