.item-store
{
    width: 100%;
    //max-width: 250px;
    height: 250px;
    //max-height: 250px;
    margin-right: auto;
    margin-left: auto;
    background-color: $dark-blue;

    @include media('<=tablet')
    {
        width: 250px;
        height: 250px;
        margin-bottom: 2.5rem;
    }
    @extend .transition-2-ease-in-out;

    &.active
    {
        padding: 10px;
        background-color: $dark-blue;

    }
    .item-store-logo
    {
        position: relative;

        padding-top: 100%;

        @extend .bg-white;

        &:hover
        {
            cursor: pointer;
            img
            {
                filter: grayscale(0%);
            }
        }

        img
        {
            max-width: 70%;

            @extend .transition-2-ease-in-out;
            @extend .translate-center;
            filter: grayscale(100%);
        }
    }

    .item-store-info-promo
    {
        font-size: 10px;
        font-weight: $fw-bold;
        line-height: 15px;

        position: absolute;
        top: -11px;
        right: -11px;

        min-width: 25px;
        min-height: 25px;
        padding: 5px 13px;

        text-align: center;

        color: #fff;
        background-color: rgba($primary-color, .85);

        @extend .transition-2-ease-in-out;

        &:hover,
        &:focus
        {
            color: #fff;
            background-color: rgba($primary-color, 1);
        }
    }

    .item-store-container
    {
        position: relative;

        display: none;

        width: 100%;
        height: 100%;
        padding: 3px 10px;

        //border: 1px solid #afafaf;
    }

    p,
    a
    {
        font-size: 12px;

        margin: 0;
        padding: 3px 0;

        word-wrap: break-word;

        color: #fff;

        @extend .body-text-15;
    }

    p:not(.item-store-info-title)
    {
        border-bottom: 1px solid #fff;

        &:last-child
        {
            border-bottom: none;
        }
    }

    a.item-store-info-dismiss
    {
        font-size: 30px;

        position: absolute;
        right: 5px;
        bottom: 0;

        cursor: pointer;
        user-select: none;

        opacity: .5;

        @extend .text-white;
        @extend .transition-2-ease-in-out;

        &:hover,
        &:focus
        {
            opacity: 1;

            @extend .text-white;
        }
    }

    a
    {
        color: #fff;

        @extend .transition-2-ease-in-out;
        &:hover,
        &:focus
        {
            text-decoration: none;

            @extend .primary-color;
        }
    }

    hr
    {
        width: 20px;
        margin: 0 0 5px -10px;

        text-align: left; //ie fix

        border-top: 2px solid #fff;
    }


    &.white-info
    {
        width: 250px;
        margin-top: 2.5rem;
        margin-right: inherit;
        margin-left: inherit;
        padding: 15px;

        @include media('>ipad-landscape')
        {
            max-width: 250px;
            padding: 10px;
        }
        @include media('>tablet')
        {
            margin-top: 16px;
        }
        @extend .bg-secondary-text-color;

        hr
        {
            border-top: 2px solid #fff;
        }

        .item-store-container
        {
            display: block;
            p
            {
                color: #fff;
                border-bottom: 1px solid #fff;

                &.item-store-info-title,
                &:last-child
                {
                    border-bottom: 1px solid $secondary-text-color;
                }
            }
            a
            {
                color: #fff;
                &:hover,
                &:focus
                {
                    font-weight: $fw-bold;

                    text-decoration: none;
                }
            }
        }
    }
  .bg-secondary-text-color, .btn-default.__secondary-text-color, .item-store.active, .item-store.white-info, .single-highligth .next_post a.__secondary-text-color[rel=prev], .single-reasons .next_post a.__secondary-text-color[rel=prev], .single-suggestions .next_post a.__secondary-text-color[rel=prev]
  {
    height: 250px!important;
    margin-bottom: -90px!important;
  }


}
