.item-type-0
{
    padding-top: 6rem;
}

.item-type-1
{
    padding-top: 1rem;
}

.item-type-2
{
    padding-top: 8.5rem;
}

.item-type-3
{
    padding-top: 3.5rem;
}


@include media('<=tablet')
{
    .item-type-0,
    .item-type-1,
    .item-type-2,
    .item-type-3
    {
        padding-top: 0;
    }
}
