.item-brand-kit-cta-group
{
    margin-bottom: 20px;

    background-color: rgba(255,255,255,.7);

    .item-brand-kit-cta-group-content
    {
        a
        {
            line-height: 35px;

            display: block;

            width: 85px;
            max-width: 85%;
            height: 35px;
            margin-bottom: 20px;

            text-align: center;

            @extend .text-white;
            @extend .border-1-black;
            @extend .bg-black;
            @extend .body-text-12;

            &:hover,
            &:focus
            {
                text-decoration: none;

                @extend .text-black;
                @extend .transition-2-ease-in-out;
                @extend .bg-white;
            }
        }

        .divider
        {
            position: absolute;
            left: 0;

            display: block;

            width: 1px;
            height: 70%;
            margin: 0;

            border-left: 1px solid #000;

            @extend .translateY;
            @include media('<=phone')
            {
                height: 85%;
            }
        }
    }
}
