.item-job
{
    position: relative;

    width: 100%;
    max-width: 250px;
    margin: 0 auto;

    cursor: pointer;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    @extend .bg-white;
    @extend .transition-2-ease-in-out;

    &:hover
    {
        transform: scale(1.05);

        -webkit-box-shadow: 0 0 45px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 0 45px 2px rgba(0,0,0,.15);
                box-shadow: 0 0 45px 2px rgba(0,0,0,.15);

        header img
        {
            -webkit-filter: none;
                    filter: none;
        }
    }


    header
    {
        position: relative;

        width: 100%;
        padding-top: 100%;

        img
        {
            display: block;

            width: 90%!important;
            height: auto;

            -webkit-transition: filter .5s, -webkit-filter .5s;
                    transition: filter .5s, -webkit-filter .5s;

            @extend .translate-center;
            -webkit-filter: grayscale(100%) brightness(105%) contrast(120%);
                    filter: grayscale(100%) brightness(105%) contrast(120%);
        }
    }

    .divider
    {
        width: 70%;
        margin: 20px auto;

        border-top: 1px solid rgba(0,0,0,.1);
    }

    .item-job-content
    {
        padding: 10px 20px 20px 20px;
    }

    h3,
    p
    {
        margin-bottom: 0;
    }
}
