.item-reason
{
    width: 105%;
    max-width: 100%;
    margin: 0 auto 30px;
    background-color: transparent;
    @extend .transition-2-ease-in-out;
    a
    {
        text-decoration: none;
        @extend .transition-2-ease-in-out;
        &:hover,
        &:focus
        {
            text-decoration: none;
        }
    }
    &.__on-hover
    {
        .article-title
        {
          color: white;
        }

        .item-reason-header
        {
            img
            {
              @extend .box-shadow-hover-home;
            }
        }
    }
}

.item-reason-header
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: initial;
    a
    {
        display: block;
    }
    img
    {
        display: block;
        max-width: 100%;
        height: auto;
        @extend .box-shadow-regular-home;
        @extend .transition-2-ease-in-out;
    }

    &.__frame-1
    {
        padding-top: 10px;
        padding-right: 22px;
        padding-bottom: 22px;
        background-image: url(../img/frame-1.png);
        background-position: right top;
    }

    &.__frame-2
    {
        padding-top: 10px;
        padding-left: 10px;

        background-image: url(../img/frame-2.png);
        background-position: left top;
    }

    &.__frame-3
    {
        padding-top: 25px;
        padding-left: 25px;

        background-image: url(../img/frame-3.png);
        background-position: left top;
    }

    &.__frame-4
    {
        padding-top: 25px;
        padding-bottom: 7px;

        background-image: url(../img/frame-4.png);
        background-position: left top;
    }

    &.__frame-5
    {
        padding-top: 40px;
        padding-left: 45px;

        background-image: url(../img/frame-5.png);
        background-position: right top;
    }

    &.__frame-6
    {
        padding-top: 40px;

        background-image: url(../img/frame-6.png);
        background-position: right top;
    }

    &.__frame-7
    {
        padding-left: 40px;

        background-image: url(../img/frame-7.png);
        background-position: left 25px;
    }

    &.__frame-8
    {
        padding-top: 20px;
        padding-left: 20px;

        background-image: url(../img/frame-8.png);
        background-position: right top;
    }

    &.__frame-9
    {
        padding-top: 25px;
        padding-right: 20px;
        padding-bottom: 22px;

        background-image: url(../img/frame-9.png);
        background-position: left top;
    }

    &.__frame-10
    {
        padding-right: 25px;
        padding-bottom: 25px;

        background-image: url(../img/frame-10.png);
        background-position: right bottom;
    }

    &.__frame-11
    {
        padding-top: 10px;
        padding-left: 10px;

        background-image: url(../img/frame-11.png);
        background-position: left top;
    }

    &.__frame-12
    {
        padding-left: 50px;

        background-position: left center;

        @extend .__frame-6;
    }
}
.item-reason-content
{
    margin-bottom: 3rem;

    .article-title
    {
        margin-bottom: 3px;
        color: white;
        font-size: convertREM(30);
        line-height: convertREM(45);
        @include media('<xl-desktop'){
          font-size: 1.8rem;
        }
    }

    p
    {
        margin-bottom: 5px;
    }
}
