#livesearch-container
{
    z-index: 35;

    display: none;

    padding: .5rem .75rem;

    list-style: none;

    @extend .bg-white;

    li > a
    {
        display: block;

        padding: .5rem 0;

        color: #000;

        @extend .body-text-15;
        @extend .transition-2-ease-in-out;
        @include media('>tablet')
        {
            padding: .3rem 0;
        }

        &:hover
        {
            cursor: pointer;

            color: $secondary-text-color;
        }
    }
}
