.loading-square
{
    width: 0;
    height: 0;

    animation: loading-square 750ms linear infinite;

    border: 0 solid black;
    border-width: 15px 15px;
}

$borderColor1: rgba($secondary-text-color,.25);
$borderColor2: rgba($secondary-text-color,.5);
$borderColor3: rgba($secondary-text-color,.75);
$borderColor4: rgba($secondary-text-color,1);

@keyframes loading-square
{
    0%
    {
        border-color: $borderColor1;
        border-top-color: $borderColor4;
    }
    25%
    {
        border-color: $borderColor1;
        border-right-color: $borderColor4;
    }
    50%
    {
        border-color: $borderColor1;
        border-bottom-color: $borderColor4;
    }
    75%
    {
        border-color: $borderColor1;
        border-left-color: $borderColor4;
    }
    100%
    {
        border-color: $borderColor1;
        border-top-color: $borderColor4;
    }
}


@keyframes loading-square-2
{
    0%
    {
        border-color: $borderColor4 $borderColor1 $borderColor2 $borderColor3;
    }
    25%
    {
        border-color: $borderColor3 $borderColor4 $borderColor1 $borderColor2;
    }
    50%
    {
        border-color: $borderColor2 $borderColor3 $borderColor4 $borderColor1;
    }
    75%
    {
        border-color: $borderColor1 $borderColor2 $borderColor3 $borderColor3;
    }
    100%
    {
        border-color: $borderColor4 $borderColor1 $borderColor2 $borderColor3;
    }
}
