.mapplic-tooltip-content
{
    overflow-y: hidden!important;
}

.mapplic-element
{
    height: 70vh!important;
}

/* INTERACTIVE ELEMENTS */
/* clickable elements */
.mapplic-clickable:not(g),
g.mapplic-clickable > *
{
    /*fill: #b7a6bd*/;
}

/* hovered elements */
// .mapplic-clickable:not(g):hover,
// g.mapplic-clickable:hover > *
// {
//     fill: #ee2a7b ;
// }
//
// /* active elements */
// .mapplic-active,
// a.mapplic-active > path,
// g.mapplic-active > *
// {
//     opacity: 1.0 !important;
//
//     fill: #ee2a7b ;
// }
