.navbar
{
    width: 100%;
    height: 125px;
    padding: 2.5rem 2rem;
    transition: height .4s ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 945.91 14.56'%3E%3Cdefs%3E%3C/defs%3E%3Ctitle%3EAsset-1%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon style='fill:%23222220;' points='29.12 0 0 0 14.56 14.56 29.12 0'/%3E%3Cpolygon style='fill:%23222220;' points='57.77 0 28.65 0 43.21 14.56 57.77 0'/%3E%3Cpolygon style='fill:%23222220;' points='86.42 0 57.3 0 71.86 14.56 86.42 0'/%3E%3Cpolygon style='fill:%23222220;' points='115.07 0 85.95 0 100.51 14.56 115.07 0'/%3E%3Cpolygon style='fill:%23222220;' points='143.72 0 114.6 0 129.16 14.56 143.72 0'/%3E%3Cpolygon style='fill:%23222220;' points='172.37 0 143.25 0 157.81 14.56 172.37 0'/%3E%3Cpolygon style='fill:%23222220;' points='201.02 0 171.9 0 186.46 14.56 201.02 0'/%3E%3Cpolygon style='fill:%23222220;' points='229.67 0 200.55 0 215.11 14.56 229.67 0'/%3E%3Cpolygon style='fill:%23222220;' points='258.32 0 229.2 0 243.76 14.56 258.32 0'/%3E%3Cpolygon style='fill:%23222220;' points='286.97 0 257.85 0 272.41 14.56 286.97 0'/%3E%3Cpolygon style='fill:%23222220;' points='315.62 0 286.5 0 301.06 14.56 315.62 0'/%3E%3Cpolygon style='fill:%23222220;' points='344.26 0 315.15 0 329.71 14.56 344.26 0'/%3E%3Cpolygon style='fill:%23222220;' points='372.92 0 343.8 0 358.36 14.56 372.92 0'/%3E%3Cpolygon style='fill:%23222220;' points='401.56 0 372.45 0 387 14.56 401.56 0'/%3E%3Cpolygon style='fill:%23222220;' points='430.21 0 401.1 0 415.65 14.56 430.21 0'/%3E%3Cpolygon style='fill:%23222220;' points='458.86 0 429.75 0 444.31 14.56 458.86 0'/%3E%3Cpolygon style='fill:%23222220;' points='487.51 0 458.4 0 472.95 14.56 487.51 0'/%3E%3Cpolygon style='fill:%23222220;' points='516.16 0 487.05 0 501.6 14.56 516.16 0'/%3E%3Cpolygon style='fill:%23222220;' points='544.81 0 515.7 0 530.25 14.56 544.81 0'/%3E%3Cpolygon style='fill:%23222220;' points='573.46 0 544.35 0 558.9 14.56 573.46 0'/%3E%3Cpolygon style='fill:%23222220;' points='602.11 0 573 0 587.55 14.56 602.11 0'/%3E%3Cpolygon style='fill:%23222220;' points='630.76 0 601.64 0 616.2 14.56 630.76 0'/%3E%3Cpolygon style='fill:%23222220;' points='659.41 0 630.29 0 644.85 14.56 659.41 0'/%3E%3Cpolygon style='fill:%23222220;' points='688.06 0 658.94 0 673.5 14.56 688.06 0'/%3E%3Cpolygon style='fill:%23222220;' points='716.71 0 687.59 0 702.15 14.56 716.71 0'/%3E%3Cpolygon style='fill:%23222220;' points='745.36 0 716.24 0 730.8 14.56 745.36 0'/%3E%3Cpolygon style='fill:%23222220;' points='774.01 0 744.89 0 759.45 14.56 774.01 0'/%3E%3Cpolygon style='fill:%23222220;' points='802.66 0 773.54 0 788.1 14.56 802.66 0'/%3E%3Cpolygon style='fill:%23222220;' points='831.31 0 802.19 0 816.75 14.56 831.31 0'/%3E%3Cpolygon style='fill:%23222220;' points='859.96 0 830.84 0 845.4 14.56 859.96 0'/%3E%3Cpolygon style='fill:%23222220;' points='888.61 0 859.49 0 874.05 14.56 888.61 0'/%3E%3Cpolygon style='fill:%23222220;' points='917.26 0 888.14 0 902.7 14.56 917.26 0'/%3E%3Cpolygon style='fill:%23222220;' points='945.91 0 916.79 0 931.35 14.56 945.91 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 42% 23px;
    top: -6px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;//fix weird effect on hover of item-reason
    @extend .bg-white-op90;
    border-bottom: 1.5px solid $yellow-background;
    align-items: flex-start;
    @include media('<=phone')
    {
        padding: 14px 21px;
    }
    @include media('<=desktop')
    {
        overflow-y: auto;

        height: auto;
        min-height: 65px;
        max-height: 375px;
    }

    .container
    {
        @extend .fullHeight;
    }
    .dropdown-toggle::after
    {
        display: none;
    }
    .menu-item
    {
        position: initial;

        @include media('>desktop')
        {
            display: none;
        }

        &.active
        {
            display: inline;
            font-family: 'Museo-500', sans-serif;
            text-decoration: underline;
        }
        &.current-menu-ancestor
        {
            display: inline;

            & > .dropdown-menu
            {
                display: block;
            }
        }
    }

    .brand-logo
    {
        text-align: center;

        @include media('<=phone')
        {
            svg
            {
                width: 135px;
                height: 30px;
            }
        }

        svg
        {
            position: absolute;
            top: 0;
            left: 50%;

            width: 130px;
            height: 40px;

            transform: translateX(-50%);
        }
    }

    .social-links
    {
        padding-top: 7px;
    }


    .navbar-nav
    {
        flex-direction: column;

        .dropdown-menu
        {
            top: 0;
            left: 100%;

            min-width: 210px;
            margin-top: 0;
            padding: 0;

            border: none;
            background: transparent;

            @include media('<=tablet','landscape')
            {
                display: block;
            }
            .menu-item a.nav-link
            {
                padding: .2em 1em;
                font-family: 'Museo-900', sans-serif;

                @include media('>desktop')
                {
                    padding: .2em .1em;
                }
                &:hover
                {
                    background-color: transparent!important;
                }
            }
        }
    }
}

.navbar-collapse.show
{
    .menu-item
    {
        display: inline;
    }
}

.navbar-brand-container
{
    @include media('>desktop')
    {
        position: relative;

        height: 100%;
        margin-right: 5px;
        padding-left: 0;
    }
}

.navbar-header-menu
{
    font-size: convertREM(16);

    width: auto;
    padding-top: 7px;

    letter-spacing: 1px;

    .menu-menu-container
    {
        position: relative;

        float: left;
    }
}

.toggle-menu-anchor
{
    display: none;

    @include media('>desktop')
    {
        display: inline;
        float: left;
        font-family: 'Museo-500', sans-serif;
        padding-top: 10px;

        letter-spacing: 1px;

        color: #fff;
    }
}

.navbar-brand
{
    display: none;

    @include media('>desktop')
    {
        line-height: 0;

        display: block;
        float: left;

        padding-top: 0;
        padding-bottom: 0;

        svg
        {
            //width: 96px;
            //height: 48px;
            width: 130px;
            height: 65px;
            margin-top: -8px;
        }
    }
}

.nav-link
{
    font-weight: $fw-bold;

    padding: .2em 1em;

    @extend .transition-2-ease-in-out;
    @include media('<=desktop')
    {
        font-size: 15px;

        padding: 7px 5px;
    }

    &:hover
    {
        color: rgba(255,255,255,1);
    }
    &.disabled
    {
        font-weight: $fw-bold;
    }
}

.navbar-toggler-icon
{
    width: 26px;
    height: 26px;

    background: transparent url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NC41IiBoZWlnaHQ9IjM0LjkiIHZpZXdCb3g9IjAgMCA0NC41IDM0LjkiPjxzdHlsZT4uc3Qwe2ZpbGw6bm9uZTtzdHJva2U6IzIzMWYyMDtzdHJva2Utd2lkdGg6MztzdHJva2UtbWl0ZXJsaW1pdDoxMH08L3N0eWxlPjxnIGlkPSJYTUxJRF8xOV8iPjxwYXRoIGlkPSJYTUxJRF8yMl8iIGNsYXNzPSJzdDAiIGQ9Ik0wIDEuNWg0NC41Ii8+PHBhdGggaWQ9IlhNTElEXzIxXyIgY2xhc3M9InN0MCIgZD0iTTAgMTcuNGg0NC41Ii8+PHBhdGggaWQ9IlhNTElEXzIwXyIgY2xhc3M9InN0MCIgZD0iTTAgMzMuNGg0NC41Ii8+PC9nPjwvc3ZnPg==')  no-repeat center center;
    background-size: 100%;
}

.navbar-toggler
{
    position: absolute;
    top: -10px;
    right: 0;

    padding: 3.5px 10.5px;

    border: 1px solid #000;
    border-radius: 0;
    outline: 0;

    @include media('<=phone')
    {
        top: 0;
    }
    &:focus
    {
        outline: 0;
    }
}

.dropdown.active
{
    .dropdown-menu
    {
        display: block;
    }
}


.navbar-white-links,
.navbar-black-links
{
    .nosso-logo
    {
        text-align: center;
        svg path
        {
            fill: #fff;
            @include media('<=tablet')
            {
                fill: #000;
            }
        }
    }

    .nav-link
    {
        color: rgba(255,255,255,.6);
        &:hover
        {
            color: rgba(255,255,255,1);
        }
        &.disabled
        {
            color: #fff;
        }
    }
    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active
    {
        font-weight: $fw-black;

        color: #fff;
    }
}

.navbar-black-links
{
    .nav-link
    {
        color: rgba(0,0,0,.6);
        font-family: 'Museo-900', sans-serif;
        &:hover
        {
            color: rgba(0,0,0,1);
        }

        &.disabled
        {
            color: #000;
        }
    }
    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active
    {
        color: #000;
    }
    .nosso-logo,
    .navbar-brand
    {
        .st0
        {
            fill: #000;
        }
    }

    .toggle-menu-anchor
    {
        color: #000;
    }
}

//admin bar fix
.admin-bar .navbar.fixed-top
{
    top: 32px;
}
