.owl-theme .owl-nav [class*=owl-]
{
    width: 38px;
    height: 38px;
    padding: 0;

    transition: all .2s ease-in-out;

}

.owl-next
{
  position: absolute;
  top: 37%;
  right: -8%;

}

.owl-prev
{
    position: absolute;
    top: 37%;
    left: -8%;

}

.owl-theme .owl-nav
{
    padding: 0 30px;

    text-align: right;
}

.owl-theme .owl-nav .disabled
{
    opacity: 0;
}

.owl-prev, .owl-next
{
  height: 50px;
  width: 50px;
  &:hover{

    .fa{
      color: $yellow-background;
    }
  }
  &:focus
  {
    border: none;
    background: none;
    outline: none;
  }
  .fa
  {
    font-size: 50px;
  }
}

.owl-theme .owl-nav [class*=owl-]:hover
{
  background: none;

}



.owl-theme .owl-dots {

  display: none;
}

.owl-item{
  cursor: pointer;
}
