.siblings_page_link
{
    position: fixed;
    top: 50%;

    width: 100%;

    transform: translateY(-50%);

    @include media('<=ipad-landscape')
    {
        position: relative;
    }

    .before_link,
    .after_link
    {
        line-height: 40px;
        position: absolute;

        width: auto;
        height: 40px;

        text-decoration: none;

        color: #000;
        border: 1px solid $primary-color;
        border-radius: 20px;

        @extend .bg-white;
        @extend .transition-2-ease-in-out;
        @include media('<=ipad-landscape')
        {
            top: -35px;
        }

        &:hover
        {
            color: $primary-color;

            svg path
            {
                fill: $primary-color;
            }
        }
        svg
        {
            position: absolute;
            top: 0;
            bottom: 0;

            margin: auto;
        }
    }

    .before_link
    {
        left: -10px;
        padding-right: 20px;
        padding-left: 45px;
        border-radius: 0;
        transform: rotate(-90deg);
        text-align: left;

        @include media('<=ipad-landscape')
        {
            left: 5px;
            top: 20px;
            transform: none;
        }

        svg
        {
            left: 12px;

            transform: rotate(270deg);

            @include media('<=ipad-landscape')
            {
                transform: rotate(180deg);
            }
        }
    }
    .after_link
    {
        right: -10px;

        padding-right: 45px;
        padding-left: 25px;
        border-radius: 0;
        transform: rotate(90deg);
        text-align: right;

        @include media('<=ipad-landscape')
        {
            right: 5px;
            top: 20px;
            margin-right: 5px;

            transform: none;
        }

        svg
        {
            right: 12px;
            bottom: 2px;

            transform: rotate(270deg);

            @include media('<=ipad-landscape')
            {
                bottom: 0;

                transform: rotate(0);
            }
        }
    }
}
