.text-white
{
    color: #fff!important;
}

.text-black
{
    color: #000!important;
}

.text-green
{
    color: #3cb64a!important;
}

.text-fw-light
{
    font-weight: $fw-light!important;
}

.text-fw-regular
{
    font-weight: $fw-regular!important;
}

.text-fw-black
{
    font-weight: $fw-black!important;
}

.text-ls-2-half
{
    letter-spacing: 2.5px!important;
}

.primary-color
{
    color: $primary-color!important;
}

.secondary-text-color
{
    color: $secondary-text-color!important;
}

.default-text-color
{
    color: $default-text-color!important;
}

.menu-text
{
    font-size: convertREM(20);
    line-height: convertREM(31);

    letter-spacing: .5px;
    &.menu-link
    {
        font-weight: $fw-bold;
        &.active
        {
            text-decoration: underline;
        }
    }
}

.article-date
{
    font-size: convertREM(15);
    font-weight: $fw-light;
    line-height: convertREM(18);

    letter-spacing: .3px;

    @extend .transition-2-ease-in-out;

    &.__fs-10
    {
        font-size: convertREM(10);
        line-height: convertREM(14);
    }
}

.article-title
{
    font-size: convertREM(25);
    font-weight: $fw-bold;

    letter-spacing: .3px;
    text-transform: uppercase;

    color: $default-text-color;

    @extend .transition-2-ease-in-out;

    &.__fs-14
    {
        font-size: convertREM(14);
        line-height: convertREM(18);
    }

    &.__fs-25
    {
        font-size: convertREM(25);
        line-height: convertREM(35);
    }
}

.info-text-15-uppercase
{
    font-size: convertREM(15);
    font-weight: $fw-bold;
    line-height: convertREM(18);

    letter-spacing: 7px;
    text-transform: uppercase;

    color: $default-text-color;
}

.body-text-15
{
    font-size: convertREM(15);
    font-weight: $fw-regular;
    line-height: convertREM(23);

    transition: color .2s ease-in-out;
    letter-spacing: 1px;

    color: $default-text-color;
    b,
    strong
    {
        font-weight: $fw-bold;
    }
}

.body-text-12
{
    font-size: 12px;
    line-height: 20px;

    @extend .body-text-15;
}

.body-text-18
{
    font-size: convertREM(18);
    line-height: convertREM(28);

    @extend .body-text-15;
}

.body-text-20
{
    font-size: convertREM(20);
    line-height: convertREM(35);

    @extend .body-text-15;

    &.__lower-lh
    {
        line-height: convertREM(25);
    }
}

.body-text-25
{
    font-size: convertREM(25);
    line-height: convertREM(35);

    @extend .body-text-15;
}

.body-text-28
{
    font-size: convertREM(28);
    line-height: convertREM(35);

    @extend .body-text-15;
}

.body-text-30
{
    font-size: convertREM(30);
    line-height: convertREM(50);

    @extend .body-text-15;
}

.body-text-35
{
    font-size: convertREM(35);
    line-height: convertREM(55);

    @extend .body-text-15;
}

.body-text-15,
.body-text-18,
.body-text-20,
.body-text-30
{
    li,
    ol,
    ul
    {
        margin-bottom: 2rem;
        padding-left: 0;

        list-style-position: inside;
    }
}

.cta-text
{
    font-size: convertREM(14);
    font-weight: $fw-light;
    line-height: convertREM(16);

    letter-spacing: 1px;
}

.form-title
{
    font-size: convertREM(30);
    font-weight: $fw-bold;
    line-height: convertREM(34);

    letter-spacing: 1.5px;
}

.input-text
{
    font-size: convertREM(14);
    line-height: convertREM(42);

    height: convertREM(42);//fix ie

    letter-spacing: 1px;

    color: $input-text-color;
}

.yellow-heading{
  font-family: 'Museo-900', sans-serif;
  font-size: convertREM(25px);
  color: $burn-yellow;
  @include media('<tablet'){
    text-align: center;
  }
  &:before{
    background-color: $burn-yellow;
    content: "";
    width: 40px;
    height: 3.5px;
    display: block;
    margin-bottom: 20px;
    @include media('<tablet'){
      margin: 10px auto 20px auto;
    }
  }
}

h2.blog-title
{
  font-size: convertREM(25);
  font-family: 'Museo-900', sans-serif;
}
p.blog-desc
{
  font-size: convertREM(20);
  font-family: 'Museo-500', sans-serif;
}

.mb-90
{
  margin-bottom: -90px;
  @include media('<=ipad-landscape')
  {
    margin-bottom: -80px;
  }
  @include media('<=tablet')
  {
    margin-bottom: -20px;
  }
}
