/*Titl styles */
.tilt
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.tilt__back,
.tilt__front
{
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.tilt__back
{
    position: relative;
}

.tilt__front
{
    position: absolute;
    top: 0;
    left: 0;
}

/*Custom styles*/

.tilt-grid
{
    // @include media('<=phone')
    // {
    //     min-height: 130vh;
    // }
}

.titl-img
{
    position: relative;

    overflow: hidden;

    height: 0;

    @extend .grayscale-transition;
}

.tilt
{
    position: absolute;
    top: 0;
}

.tilt-item
{
    position: relative;

    margin: 10px auto;

    @include media('>phone')
    {
        position: absolute;

        margin: inherit;
    }
}

.tilt-item_1
{
    display: none;

    @include media('>phone')
    {
        top: 50%;
        left: 13%;

        display: block;
    }

    .titl-img
    {
        z-index: 15;

        padding-top: aspectRatio(650,444);
    }
}

.tilt-item_2
{
    display: none;

    @include media('>phone')
    {
        top: 7%;
        left: 33%;

        display: block;
    }

    .titl-img
    {
        z-index: 20;

        padding-top: aspectRatio(489,479);
    }
}

.tilt-item_3
{
    @include media('>phone')
    {
        right: 8%;
    }

    .titl-img
    {
        z-index: 25;

        padding-top: aspectRatio(429,602);
    }
}
